/** Table of Content 
[Master Stylesheet]

Project:		Photo Store
Version:		1.0
Author:			CrunchPress
Primary use:	Photo Store

[Layout]

* body
	+ Header / #header
		- Sidebar / .sidebar
		- Search / #search
	+ Footer / #footer

Navigation	  #navbar
Content header	  h2

[Color codes]

Background:	#ffffff (white)
Content:	#666666 (grey)
Header h1:	#222222 (dark grey)
Header h2:	#222222 (dark gre)
Footer:		#cccccc (light grey)


[Typography]

Body copy:			font:12px/12px 'Roboto', sans-serif;
Headers:			font:14px/14px 'Roboto', sans-serif;
Input, textarea:	font:14px/14px 'Roboto', sans-serif;
Sidebar heading:	font:18px/18px 'Roboto', sans-serif;



[Table of contents]

- 	WRAPPER    	  					LINE 		00 	 	-		000
-	HEADER							LINE		00		-		000
-	BANNER							LINE		00		-		000
-	FOOTER							LINE		00		-		000
-	PHOTOGRAPHY CATEGORY			LINE		00		-		000
-	404 PAGE						LINE		00		-		000
-	INNER BANNER					LINE		00		-		000
-	CONTACT PAGE					LINE		00		-		000
-	PRICING TABLE					LINE		00		-		000
-	TEAM PAGE						LINE		00		-		000
-	ABOUT PAGE						LINE		00		-		000
-	SideBar							LINE		00		-		000
-	BLOG PAGE						LINE		00		-		000
-	LOGIN PAGE						LINE		00		-		000
-	UPLOAD PHOTO FORM				LINE		00		-		000
-	APP SECTION						LINE		00		-		000
-	CATEGORY SECTION				LINE		00		-		000
-	NEWSLETTER SECTION				LINE		00		-		000

End of Table of Content Line 000 **/
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.theme-style-1 h2 {
	font: 400 24px/24px 'Roboto', sans-serif;
	margin: 0 0 20px 0;
	color: #222;
}
.theme-style-1 h2 a {
	color: inherit;
	text-decoration: none;
}
.theme-style-1 h3 {
	font: 700 20px/20px'Roboto', sans-serif;
	margin: 0 0 20px 0;
	color: #222;
}
.theme-style-1 a:focus {
	outline: none;
	outline-offset: 0;
}
.theme-style-1 p {
	font: 400 14px/24px 'Roboto', sans-serif;
	color: #444;
	margin: 0;
}
/*******************************************************WRAPPER START*******************************************************/
#wrapper {
	float: left;
	width: 100%;
}
.theme-style-1 h2 {
}
/**************************************************************HEADER START**************************************************************/
#header {
	float: left;
	width: 100%;
	background-color: #fff;
}
.logo-row {
	float: left;
	width: 100%;
	padding: 25px 0;
}
strong.logo {
	margin: 0 auto;
	text-align: center;
	display: block;
}
strong.logo a {
	margin: 0;
}
.login-section {
	float: right;
	padding: 12px 70px 0 0;
}
.login-section ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.login-section ul li {
	float: left;
	padding: 0 6px;
}
.login-section ul li a {
	text-decoration: none;
	font: 400 14px/14px 'Roboto', sans-serif;
	color: #444;
}
.login-section ul li a .fa {
	padding: 0 5px 0 0;
}
.login-section ul li a b {
	padding: 0 0 0 8px;
	font-weight: 400;
}
.login-section ul li a span {
	padding: 0 0 0 10px;
	font-size: 20px;
}
.login-section ul li a .fa-cart-arrow-down {
	font-size: 18px;
	padding: 0 0 0 10px;
}
/*****************************SIDEBAR MENU START*****************************/
.sidebar-menu-box {
	float: left;
	padding: 8px 0 0 70px;
}
.sidebar-menu-box span {
	font-size: 25px;
	color: #212121;
}
.cp-top-bar {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding: 20px 0 20px 0;
}
.cp-top-bar .login-section {
	float: left;
	padding: 0;
	width: 100%;
}
.cp-top-bar .login-section ul {
	display: block;
	text-align: center;
}
.cp-top-bar .login-section ul li {
	display: inline-block;
	float: none;
}
#cp_side-menu > a.crose {
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	background: #444;
	text-align: center;
	color: #fff;
	line-height: 30px;
	text-indent: -2px;
}
#cp_side-menu {
	background: #fff;
	color: #fff;
	height: 100%;
	margin-left: -410px;
	position: fixed;
	left: 0;
	top: 0;
	width: 410px;
	z-index: 999999;
	padding: 0 70px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
}
#cp_side-menu-btn a:hover {
	text-decoration: none;
}
strong.logo-2 {
	display: block;
	padding: 20px 0;
	text-align: center;
	clear: both;
}
#cp_side-menu form {
	float: left;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #ccc;
	padding: 0 0 30px 0;
	margin: 0 0 10px 0;
}
#cp_side-menu form input[type="text"] {
	float: left;
	width: 100%;
	height: 50px;
	background-color: #f0f0f0;
	border: 0;
	border-left: 1px solid #ccc;
	border-radius: 3px;
	padding: 0 45px 0 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font: 400 14px/14px 'Roboto', sans-serif;
	color: #666;
}
#cp_side-menu form input::-webkit-input-placeholder {
 color:#666;
 opacity:1;
}
#cp_side-menu form input:-moz-placeholder {
 color:#666;
 opacity:1;
}
#cp_side-menu form input::-moz-placeholder {
 color:#666;
 opacity:1;
}
#cp_side-menu form input:-ms-input-placeholder {
 color:#666;
 opacity:1;
}
#cp_side-menu form textarea::-webkit-input-placeholder {
 color:#666;
 opacity:1;
}
#cp_side-menu form textarea:-moz-placeholder {
 color:#666;
 opacity:1;
}
#cp_side-menu form textarea::-moz-placeholder {
 color:#666;
 opacity:1;
}
#cp_side-menu form textarea:-ms-input-placeholder {
 color:#666;
 opacity:1;
}
#cp_side-menu form button {
	position: absolute;
	right: 20px;
	top: 17px;
	border: 0;
	background: none;
	padding: 0;
	margin: 0;
}
#cp_side-menu form button span {
	color: #222;
	font-size: 16px;
}
#cp_side-menu form em {
	display: block;
	font: italic 400 12px/12px 'Roboto', sans-serif;
	color: #444;
	float: right;
	padding: 15px 0 0 0;
}
.cp_side-navigation {
	float: left;
	width: 100%;
	padding: 0 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.cp_side-navigation .navbar-nav {
	padding: 0;
	margin: 0;
	list-style: none;
}
.cp_side-navigation li {
	float: left;
	width: 100%;
}
.cp_side-navigation li:first-child a {
	padding: 13px 0;
}
.cp_side-navigation li a {
	font: 400 14px/14px 'Roboto', sans-serif;
	color: #444;
	display: block;
	padding: 34px 0;
}
.cp_side-navigation .navbar-nav > li > a {
	font: 400 14px/14px 'Roboto', sans-serif;
	color: #444;
	display: block;
	padding: 16px 0;
}
.cp_side-navigation li a:hover, .cp_side-navigation li a:focus {
	text-decoration: none;
	padding-left: 20px;
}
.cp_side-navigation li:hover a {
	text-decoration: none;
}
.cp_side-navigation .dropdown-menu {
	position: static;
	width: 100%;
	background: none;
	border: 0;
	padding: 0;
	box-shadow: none;
}
.cp_side-navigation .dropdown-menu .dropdown .caret {
	float: right;
	margin-left: 10px;
	border-left: 6px solid;
	border-right: 6px solid;
}
.cp_side-navigation .dropdown-menu > li > a {
	font: 400 14px/14px 'Roboto', sans-serif;
	padding: 10px 0 10px 40px;
	color: #444;
}
.sidebar-menu-box span.caret {
	color: #888;
}
.cp_side-navigation .dropdown-menu > li:hover a {
	color: #fff;
	padding-left: 10px;
}
#cp_side-menu a.btn-newsletter {
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
	font: 400 14px/50px 'Roboto', sans-serif;
	color: #fff;
	text-decoration: none;
	margin: 0 0 25px 0;
}
#cp_side-menu a.btn-newsletter:hover {
	background-color: #000;
}
.cp-sidebar-social {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding: 0 0 20px 0;
	margin: 0 0 24px 0;
}
.cp-sidebar-social strong.title {
	font: 400 14px/14px 'Roboto', sans-serif;
	color: #444;
	display: block;
	padding: 0 0 10px 0;
}
.cp-sidebar-social ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.cp-sidebar-social ul li {
	float: left;
	padding: 0 7px 0 0;
}
.cp-sidebar-social ul li a {
	text-decoration: none;
	display: block;
	border: 2px solid #ccc;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	color: #666;
}
.cp-sidebar-social ul li a:hover {
	border: 2px solid rgba(0,0,0,0);
	color: #fff;
}
.cp-sidebar-social ul li a:hover span {
	color: #fff;
}
.cp-sidebar-social ul li a span {
	font-size: 14px;
	color: #666;
}
#cp_side-menu strong.copy {
	font: 400 12px/12px 'Roboto', sans-serif;
	color: #444;
	display: block;
	text-align: center;
}
/*SCROLL CSS START*/
#cp_side-menu .mCustomScrollbar {
	float: left;
	width: 100%;
}
#cp_side-menu #content-1 {
	overflow: hidden;
	height: 300px;
	padding: 0;
	width: 100%;
}
#cp_side-menu #content-1 .content {
	width: 100%;
	height: 434px;
	padding: 20px;
	overflow: auto;
	border-radius: 0;
	float: left;
	margin-right: 0;
}
#cp_side-menu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 5px;
}
#cp_side-menu .mCSB_scrollTools .mCSB_draggerRail {
	width: 5px;
}
/*SCROLL CSS END*/
/*****************************SIDEBAR MENU END*****************************/

/**********************************************NAVIGATION ROW START**********************************************/
.cp-navigation-row {
	float: left;
	width: 100%;
	background-color: #f0f0f0;
	box-shadow: 0 0 0 0;
	height: 60px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1) inset;
}
.cp-navigation-row .navbar-default {
	background-color: transparent;
	border-color: transparent;
	border: 0;
	z-index: 999;
}
.cp-navigation-row .navbar {
	border-radius: 0;
}
.cp-navigation-row .navbar {
	border: 0;
	margin-bottom: 0;
	min-height: inherit;
}
.cp-navigation-row .navbar-collapse {
	padding: 0;
}
.cp-navigation-row .yamm .nav, .cp-navigation-row .yamm .collapse, .yamm .dropup, .yamm .dropdown {
	position: static;
}
.cp-navigation-row .yamm .container {
	position: relative;
}
.cp-navigation-row .yamm .dropdown-menu {
	left: 0;
}
.cp-navigation-row .dropdown-menu.classic-menu {
	left: auto;
}
.cp-navigation-row .yamm .yamm-content {
	padding: 20px 30px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.cp-navigation-row .yamm .dropdown.yamm-fw .dropdown-menu {
	left: 0;
	right: 0;
}
.cp-navigation-row .navbar-nav {
	float: none;
	display: block;
	text-align: center;
	margin: 0;
}
.cp-navigation-row .navbar-nav li {
	float: none;
	display: inline-block;
}
.theme-style-1 .cp-navigation-row .navbar-nav li a.upload-btn {
	float: left;
	font-size: 16px;
	margin: 0;
	position: absolute;
	right: -85px;
	top: -36px;
	background: #e1e1e1;
	padding: 10px 20px 8px 20px;
	line-height: 42px;
}
.navbar-nav > li > .dropdown-menu li {
	float: none;
	display: block;
	position: relative;
	padding: 0 5px;
}
.cp-navigation-row .navbar-nav > li > .dropdown-menu li a {
	padding: 10px 0 10px 20px;
	font: 400 14px/14px 'Roboto', sans-serif;
	color: #444;
	text-decoration: none;
	display: block;
	position: relative;
}
.cp-navigation-row .navbar-default .navbar-nav li a {
	font-family: 'Roboto', sans-serif;
	color: #444;
	padding: 20px 15px;
}
.cp-navigation-row .dropdown-menu.classic-menu li a:before {
	left: 10px;
}
.navbar-nav > li > .dropdown-menu li a:before {
	content: "";
	font-family: FontAwesome;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 12px;
}
.cp-navigation-row .dropdown-menu {
	border: 0;
	border-radius: 0;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	left: 0;
	margin: 0;
	padding: 10px 0;
	min-width: 230px;
	top: 100%;
	z-index: 99999;
}
.navbar-nav > li > .dropdown-menu li h4 {
	font: 400 18px/18px 'Roboto', sans-serif;
	color: #444;
	margin: 0 0 10px 0;
}
.cp-navigation-row .navbar-default .navbar-nav > .open > a, .cp-navigation-row .navbar-default .navbar-nav > .open > a:hover, .cp-navigation-row .navbar-default .navbar-nav > .open > a:focus {
	color: #fff;
}
.cp-navigation-row .navbar-default .navbar-nav li.active a {
	color: #fff;
}
.cp-navigation-row .navbar-default .dropdown-menu > li > a:hover, .cp-navigation-row .navbar-default .dropdown-menu > li > a:focus {
	color: #fff;
}
.yamm-content ul li a:hover {
	padding: 10px 0 10px 30px;
	color: #fff;
}
.yamm-content ul li a:hover:before {
	left: 10px;
	color: #fff;
}
.cp-navigation-row .navbar-default .yamm-content ul li a:hover {
	color: #fff;
}
.cp-search-box {
	float: left;
	margin: 10px 0 0 0;
}
.icon-icons-06 {
	position: absolute;
	top: 20px;
}
.cp-search-box a span {
	font-size: 16px;
	float: left;
	padding: 0 0 0 10px;
}
.search-box {
	float: right;
	margin: -2px 25px 0 0;
}
.search-box a#searchtoggl {
	font-size: 14px;
	color: #333;
}
.search-box a#searchtoggl:focus {
	outline: none;
}
.cp-search-outer strong.title {
	font: 400 48px/36px 'Roboto', sans-serif;
	color: #222;
	display: block;
	text-align: center;
	padding: 0 0 60px 0;
}
.cp-search-outer {
	padding: 60px 195px;
	width: 1140px;
}
.cp-search-outer {
	position: absolute;
	left: 0;
	right: 0;
	top: 243px;
	display: none;
	margin: auto;
	width: 100%;
	overflow: hidden;
	clear: both;
	padding: 30px 20px;
	z-index: 99999;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.cp-search-outer form {
	float: left;
	width: 100%;
	position: relative;
}
.cp-search-outer form input[type="text"] {
	float: left;
	width: 100%;
	height: 60px;
	border: 2px solid #c1c1c1;
	padding: 0 78px 0 18px;
	margin: 0;
	background-color: #fff;
	font: italic 400 14px/14px 'Roboto', sans-serif;
	color: #666;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.cp-search-outer form button {
	position: absolute;
	right: 0;
	top: 0;
	background: none;
	width: 56px;
	border: 0;
	border-left: 1px solid #c1c1c1;
	height: 58px;
	text-align: center;
	display: block;
	line-height: 58px;
	color: #999;
}
/**********************************************NAVIGATION ROW END**********************************************/


/**************************************************************HEADER END**************************************************************/

/****************************************************************BANNER START****************************************************************/
#cp-banner {
	float: left;
	width: 100%;
	background-image: url(../images/banner-bg.jpg);
	height: 800px;
	position: relative;
	overflow: hidden;
}
#cp-banner .caption {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 30%;
	width: 100%;
}
#cp-banner .caption .holder {
	width: 880px;
	margin: 0 auto;
	overflow: hidden;
}
#cp-banner .caption .holder strong.title {
	display: block;
	text-align: center;
	font: 300 30px/30px 'Roboto', sans-serif;
	color: #fff;
	padding: 0 0 15px 0;
	text-shadow: 0 0 3px rgba(0,0,0,0.4);
	-moz-text-shadow: 0 0 3px rgba(0,0,0,0.4);
	-webkit-text-shadow: 0 0 3px rgba(0,0,0,0.4);
}
#cp-banner .caption .holder h1 {
	text-align: center;
	display: block;
	font: 500 72px/72px 'Roboto', sans-serif;
	color: #fff;
	margin: 0 0 35px 0;
	text-shadow: 0 0 3px rgba(0,0,0,0.4);
	-moz-text-shadow: 0 0 3px rgba(0,0,0,0.4);
	-webkit-text-shadow: 0 0 3px rgba(0,0,0,0.4);
}
#cp-banner .caption .holder h1 span {
	color: #faa61a;
}
#cp-banner .caption .holder b {
	display: block;
	text-align: center;
	font: 300 30px/30px 'Roboto', sans-serif;
	color: #fff;
	padding: 0 0 30px 0;
	text-shadow: 0 0 3px rgba(0,0,0,0.4);
	-moz-text-shadow: 0 0 3px rgba(0,0,0,0.4);
	-webkit-text-shadow: 0 0 3px rgba(0,0,0,0.4);
}
.banner-btn-box {
	margin: 0 auto;
	display: block;
	width: 400px;
}
.banner-btn-box a.btn-uploading {
	float: left;
	padding: 18px 30px;
	text-align: center;
	font: 400 14px/14px 'Roboto', sans-serif;
	color: #fff;
	border-radius: 2px;
	text-decoration: none;
	margin: 0 20px 0 0;
}
.banner-btn-box a.btn-uploading span {
	float: left;
	padding: 0 6px 0 0;
	color: #fff;
	font-size: 14px;
}
.banner-btn-box a.btn-uploading:hover {
	box-shadow: 0 3px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 3px 2px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 3px 2px rgba(0,0,0,0.15);
}
.banner-btn-box a.btn-discover {
	float: left;
	padding: 18px 30px;
	text-align: center;
	font: 400 14px/14px 'Roboto', sans-serif;
	color: #444;
	border-radius: 2px;
	text-decoration: none;
	background-color: #fff;
}
.banner-btn-box a.btn-discover span {
	float: left;
	padding: 0 6px 0 0;
	color: #444;
	font-size: 14px;
}
.banner-btn-box a.btn-discover:hover {
	box-shadow: 0 3px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 3px 2px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 3px 2px rgba(0,0,0,0.15);
}
/****************************************************************BANNER END****************************************************************/

/************************************************************************FOOTER START************************************************************************/
#footer {
	float: left;
	width: 100%;
	background-color: #fff;
	padding: 16px 0;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
}
.footer-social {
	float: left;
	padding: 0 0 0 70px;
}
.footer-social .cp-sidebar-social {
	padding: 0;
	margin: 0;
	border: 0;
}
.footer-social strong.title {
	float: left;
	padding: 0 10px 0 0;
	line-height: 27px;
}
.footer-social ul {
	float: left;
}
.copyrights {
	float: right;
	padding: 9px 70px 0 0;
}
.copyrights strong.copy {
	float: left;
	font: 400 12px/12px 'Roboto', sans-serif;
	color: #444;
}
/************************************************************************FOOTER END************************************************************************/

/****************************************************************PHOTOGRAPHY CATEGORY START****************************************************************/
.cp-category {
	float: left;
	width: 100%;
	padding: 50px 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.cp-category .cp-box {
	float: left;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.cp-space .cp-box {
	margin: 0 0 30px 0;
}
cp-gallery-masonry-1 .cp-category .cp-box {
	margin: 0 0 30px 0;
}
.cp-category .cp-load-more {
	margin: 20px 0 0 0;
}
.cp-category .cp-box img {
	display: block;
	width: 100%;
}
.cp-category .cp-box .cp-text-box {
	position: absolute;
	padding: 42px 25px 20px 25px;
	left: 0;
	bottom: -64px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+1,000000+100&amp;0+0,0.11+19,0.67+79,0.76+92,0.8+100 */
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.11) 19%, rgba(0,0,0,0.67) 79%, rgba(0,0,0,0.76) 92%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(1%, rgba(0,0,0,0.01)), color-stop(19%, rgba(0,0,0,0.11)), color-stop(79%, rgba(0,0,0,0.67)), color-stop(92%, rgba(0,0,0,0.76)), color-stop(100%, rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.11) 19%, rgba(0,0,0,0.67) 79%, rgba(0,0,0,0.76) 92%, rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.11) 19%, rgba(0,0,0,0.67) 79%, rgba(0,0,0,0.76) 92%, rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.11) 19%, rgba(0,0,0,0.67) 79%, rgba(0,0,0,0.76) 92%, rgba(0,0,0,0.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.11) 19%, rgba(0,0,0,0.67) 79%, rgba(0,0,0,0.76) 92%, rgba(0,0,0,0.8) 100%); /* W3C */
}
.cp-category .cp-box .cp-text-box h2 {
	color: #fff;
	margin: 0 0 10px 0;
	text-shadow: 0 2px 2px rgba(0,0,0,0.5);
	-moz-text-shadow: 0 2px 2px rgba(0,0,0,0.5);
	-webkit-text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
.cp-category .cp-box .cp-text-box strong.title {
	font: 400 14px/14px 'Roboto', sans-serif;
	color: #fff;
	display: block;
	text-shadow: 0 2px 2px rgba(0,0,0,0.5);
	-moz-text-shadow: 0 2px 2px rgba(0,0,0,0.5);
	-webkit-text-shadow: 0 2px 2px rgba(0,0,0,0.5);
	padding: 0 0 25px 0;
}
.cp-category .cp-box:hover .cp-text-box {
	bottom: 0;
}
.cp-category .cp-box:hover strong.title {
	padding: 0 0 10px 0;
}
.cp-category .cp-box:hover {
	box-shadow: 0px 7px 7px 0 rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 7px 7px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 7px 7px 0 rgba(0,0,0,0.4);
}
.cp-photo-box {
	float: left;
	width: 100%;
}
.cp-photo-box .cp-box {
	width: 466px;
	overflow: hidden;
	text-align: left;
}
.cp-photo-box ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
}
.cp-photo-box li {
	margin: 0 12px 20px 12px;
	display: inline-block;
	float: none;
}
.cp-load-more {
	float: left;
	width: 100%;
	text-align: center;
	margin: 30px 0 0 0;
}
.cp-load-more a.load {
	display: inline-block;
	padding: 18px 30px;
	font: 400 14px/14px 'Roboto', sans-serif;
	color: #fff;
	border-radius: 2px;
	text-decoration: none;
	box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.3);
}
.cp-load-more a.load span {
	padding: 0 7px 0 0;
}
.cp-category .cp-box .cp-text-box .detail-row {
	padding: 10px 0 0 0;
	margin: 10px 0 0 0;
	border-top: 1px solid #fff;
	border-bottom: 0;
}
.cp-category .cp-box .cp-text-box .detail-row ul li {
	margin: 0;
}
.cp-category .cp-box .cp-text-box .detail-row ul li a {
	color: #fff;
}
/****************************************************************PHOTOGRAPHY CATEGORY END****************************************************************/

/************************************************************SINGLE PHOTO START************************************************************/ 
.cp-single-photo {
	float: left;
	width: 100%;
	padding: 40px 55px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.cp-single-photo .frame {
	float: left;
	width: 100%;
}
.cp-single-photo .frame img {
	display: block;
	width: 100%;
}
.cp-single-photo .cp-text-box {
	float: left;
	width: 100%;
}
.cp-single-photo .cp-text-box .left-col {
	float: left;
	width: 100%;
}
.cp-single-photo .cp-text-box .left-col h2 {
	color: #222;
	margin: 0 0 20px 0;
}
.detail-row {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding: 0 0 20px 0;
	margin: 0 0 15px 0;
}
.cp-category .detail-row ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.detail-row ul li {
	float: left;
	padding: 0 20px 0 0;
}
.detail-row ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.detail-row ul li a {
	font: 14px/14px 'Roboto', sans-serif;
	color: #999;
	text-decoration: none;
}
.detail-row ul li a .fa {
	padding: 0 5px 0 0;
}
.cp-single-photo .cp-text-box .left-col p {
	margin: 0 0 30px 0;
}
.cp-price-box {
	float: left;
	width: 100%;
	position: relative;
	border-radius: 2px;
	padding: 0 0 100px 0;
	margin: 0 0 55px 0;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
.cp-price-box ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.cp-price-box ul li {
	float: left;
	padding: 21px 30px;
	width: 100%;
}
/*Radio buttons*/
.radioArea, .radioAreaChecked {
	float: left;
	width: 20px !important;
	height: 20px;
	background: url(../images/radio.gif) no-repeat;
	overflow: hidden;
	margin: 0 10px 0 0;
}
.radioAreaChecked {
	background-position: 0 -20px;
}
.outtaHere {
	position: absolute;
	left: -3000px;
}
.cp-price-box form label {
	font: 900 14px/18px 'Roboto', sans-serif;
	color: #222;
	float: left;
	width: 128px;
}
.cp-price-box b {
	font: 400 14px/16px 'Roboto', sans-serif;
	color: #444;
	float: left;
	margin: 0 0 10px 0;
}
.cp-price-box strong.price {
	font: 24px/20px 'Roboto', sans-serif;
	float: right;
}
.cp-price-box ul li.active {
	background-color: #f2f2f2;
}
.btn-row {
	position: absolute;
	bottom: -20px;
	width: 100%;
	text-align: center;
}
.cp-price-box a.add-cart {
	padding: 16px 60px;
	display: inline-block;
	font: 14px/16px 'Roboto', sans-serif;
	color: #fff;
	text-decoration: none;
	border-radius: 2px;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
	margin: 0 0 10px 0;
}
.cp-price-box a.add-cart span {
	padding: 0 7px 0 0;
}
.cp-price-box a.add-cart:hover {
	box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
}
.cp-tab-section {
	float: left;
	width: 100%;
}
.cp-tab-section .nav-tabs {
	border-color: #ccc;
}
.cp-tab-section .nav-tabs > li > a {
	border: 1px solid #ccc;
	border-left: 0;
	border-radius: 0;
	line-height: normal;
	margin-right: 0;
}
.cp-tab-section .nav > li > a {
	display: block;
	padding: 15px 20px;
	position: relative;
	background-color: #f0f0f0;
	font: 400 14px/14px 'Roboto', sans-serif;
	color: #444;
}
.cp-tab-section .nav-tabs > li.active > a, .cp-tab-section .nav-tabs > li.active > a:hover, .cp-tab-section .nav-tabs > li.active > a:focus {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #fff;
	border-color: #ccc #ccc transparent;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	color: #222;
	font-weight: 900;
	cursor: default;
}
.cp-tab-section .nav-tabs > li > a:hover {
	border-color: #ccc;
}
.cp-tab-section .nav > li > a:hover, .cp-tab-section .nav > li > a:focus {
	background-color: #f0f0f0;
}
.cp-tab-section .tab-content {
	float: left;
	width: 100%;
	border: 1px solid #ccc;
	margin: -1px 0 0 0;
	border-top: 0;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.cp-tab-section .item {
	float: left;
}
.cp-tab-section .item a {
	cursor: move;
}
.cp-tab-section .thumb a {
	display: block;
	cursor: move;
}
.cp-tab-section .owl-controls {
	display: none;
}
.cp-tab-section .thumb img {
	display: block;
	width: 100%;
}
.cp-image-detail {
	float: left;
	width: 100%;
	padding: 20px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 2px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.cp-image-detail .head {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding: 0 0 20px 0;
	margin: 0 0 20px 0;
}
.cp-image-detail .head span {
	float: left;
	font-size: 50px;
	color: #666;
	margin: 0 10px 0 0;
}
.cp-image-detail .head h2 {
	margin: 0 0 6px 0;
}
.cp-image-detail .head strong {
	font: 14px/14px 'Roboto', sans-serif;
	;
	color: #444;
}
.cp-image-detail ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.cp-image-detail ul li {
	float: left;
	padding: 18px 0 0 0;
	width: 100%;
}
.cp-image-detail ul li:first-child {
	padding: 0;
}
.cp-image-detail ul li span {
	font: 500 14px/14px 'Roboto', sans-serif;
	color: #444;
	float: left;
	width: 110px;
	padding: 0 0 5px 0;
}
.cp-image-detail ul li strong {
	font: 400 14px/20px 'Roboto', sans-serif;
	color: #222;
	float: left;
	width: 120px;
}
.cp-image-detail ul li strong a {
	color: #222;
	text-decoration: none;
}
/************************************************************SINGLE PHOTO END************************************************************/ 

/********************************************************************404 PAGE START********************************************************************/
.page-404 {
	text-align: center;
	width: 100%;
	float: left;
	margin: 100px 0;
}
.page-404 strong.title {
	font: 100 48px/44px 'Roboto', sans-serif;
	margin: 0px;
	color: #222222;
	margin: 40px 0 30px;
	display: block;
}
.page-404 p {
	font-size: 24px;
	font-weight: 400;
	color: #444444;
	margin: 0 0 30px;
}
.page-404 .button {
	font: 400 15px/41px 'Roboto', sans-serif;
	display: inline-block;
	padding: 0 25px;
	box-shadow: 0 1px 3px rgba(0,0,0,.23);
	border-radius: 2px;
	color: #fff;
	text-transform: uppercase;
}
.page-404 .search-404 {
	width: 50%;
	margin: 30px auto 0;
}
.page-404 .search-404 .form-control {
	border: 0px;
	border-radius: 0;
	background: #222;
	color: #fff;
	height: 45px;
	line-height: 45px;
}
.page-404 .search-404 .btn.btn-default {
	border: 0px;
	border-radius: 0;
	height: 45px;
	line-height: 45px;
	padding: 0px 25px;
	color: #fff;
}
.page-404 .button:hover {
	text-decoration: none;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.25);
}
/********************************************************************404 PAGE END********************************************************************/
/*********************************************************************INNER BANNER START*********************************************************************/
.cp-inner-banner {
	float: left;
	width: 100%;
	background-image: url(../images/page-head-bg2.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding: 40px 0;
}
.cp-inner-banner h1 {
	font: 300 48px/48px 'Roboto', sans-serif;
	color: #fff;
	text-align: center;
	margin: 0 0 20px 0;
}
.cp-inner-banner .breadcrumb {
	background-color: transparent;
	border-radius: 0;
	list-style: none;
	margin-bottom: 0;
	padding: 0;
	display: block;
	text-align: center;
}
.cp-inner-banner .breadcrumb li {
	font: 400 13px/13px 'Roboto', sans-serif;
	color: #fff;
}
.cp-inner-banner .breadcrumb li a {
	text-decoration: none;
	font: 400 13px/13px 'Roboto', sans-serif;
	color: #fff;
}
.cp-inner-banner .breadcrumb > li + li::before {
	color: #ccc;
	content: "";
	padding: 0 5px;
	font-family: FontAwesome;
	color: #fff;
	font-size: 13px;
}
/*********************************************************************INNER BANNER END*********************************************************************/

/****************************************************************CONTACT PAGE START****************************************************************/
.cp-contactus {
	width: 100%;
	float: left;
}
.cp-contact-form .material .material-input {
	margin: 0;
	padding: 0;
}
.cp-contact-form .input-group {
	width: 100%;
}
.cp-contact-form ul {
	margin: 0;
	padding: 0;
}
.cp-contact-form ul li.input-group {
	border-bottom: 1px solid #cccccc;
	list-style: outside none none;
	padding: 20px 0;
}
.cp-contact-form ul li {
	list-style: none;
}
.cp-contact-form .input-group-addon {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #fff;
	border-bottom: 0 none;
	border-image: none;
	border-left: 0 none;
	border-radius: 0;
	border-right: 1px solid #ccc !important;
	border-top: 0 none;
	color: #888888;
	font-size: 14px;
	font-weight: normal;
	height: 21px;
	line-height: 21px;
	padding: 0;
	text-align: center;
	vertical-align: top;
	width: 41px;
}
.cp-contact-form .material .material-input input {
	border: 0 none;
	font-size: 14px;
	height: 21px;
	padding: 0 15px;
}
.cp-contact-form .material .material-input textarea {
	border: 0 none;
	padding: 0 15px;
}
.cp-contact-form .form-control {
	background: #fff none repeat scroll 0 0;
	border: 0 none;
	border-radius: 0;
	box-shadow: none;
	resize: none;
}
.cp-contact-form .material .material-bar::before, .cp-contact-form .material .material-bar::after {
	bottom: -21px;
}
.cp-contact-form .form-control:focus {
	box-shadow: none;
}
.cp-contact-form .btn-submit {
	border: 0 none;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.23);
	color: #fff;
	float: right;
	height: 41px;
	line-height: 41px;
	margin-top: 30px;
	padding: 0 25px;
	text-transform: uppercase;
}
.contact-info ul {
	margin: 0;
	padding: 0;
}
.contact-info li {
	border-bottom: 1px solid #cccccc;
	color: #888888;
	list-style: outside none none;
	padding: 13px 0 17px;
}
.contact-info .address-addon {
	float: left;
	line-height: 24px;
	width: 27px;
}
.contact-info p {
	line-height: 24px;
	margin: 0;
	padding-left: 27px;
}
.contact-info a {
	color: #444;
}
.contact-info .address-addon .fa {
	color: #444;
}
.toggle-map {
	height: 120px;
	line-height: 120px;
	margin-top: 50px;
	text-align: center;
}
.toggle-map .btn-primary {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 0 none;
	box-shadow: none;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	line-height: 40px;
	padding: 0;
	text-transform: uppercase;
}
.toggle-map .btn-primary:hover, .toggle-map .btn-primary:focus {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.toggle-map .btn-primary .fa-map-marker {
	font-size: 40px;
	margin-right: 20px;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.23);
}
.toggle-map .btn-primary.collapsed::after, .toggle-map .btn-primary::after {
	background: #fff none repeat scroll 0 0;
	border-radius: 2px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.23);
	color: #0f0f0f;
	content: "";
	display: inline-block;
	font-family: FontAwesome;
	height: 26px;
	line-height: 26px;
	margin-left: 20px;
	text-align: center;
	width: 26px;
}
.toggle-map .btn-primary::after {
	content: "";
}
.map_canvas {
	height: 420px;
	width: 100%;
}
.cp-no-margin {
	margin: 0px;
}
.contact-info-v2 ul {
	padding: 0px;
	margin: 0px;
}
.contact-info-v2 ul li {
	list-style: none;
}
.contact-info-v2 ul li .cinfo {
	border-bottom: 1px solid #ccc;
	height: 92px;
	box-sizing: border-box;
	padding: 30px 0 0;
	color: #444444;
}
.contact-info-v2 ul li .cinfo .fa {
	font-size: 30px;
	float: left;
	color: #999999;
	margin-right: 20px;
}
.cp-woo-products .add_to_cart_button, .single_add_to_cart_button, .btn.btn-submit:hover {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.25);
}
.theme-style-1 .btn-primary:active, .theme-style-1 .btn-primary.active, .theme-style-1 .open > .dropdown-toggle.btn-primary {
	background: none;
	box-shadow: none;
}
.contact-v2-map {
	margin: 40px 0 0 0;
}
.cp-map-row .map_canvas {
	height: 450px;
	width: 100%;
}
/****************************************************************CONTACT PAGE END****************************************************************/

/****************************************************************PRICING TABLE START****************************************************************/
.cp-pricing-tables, .cp-pricing-tables .table-header, .cp-pricing-table-container, .table-body, .pricing-footer {
	width: 100%;
	float: left;
}
.blue-bg {
	background-color: #2196f3;
}
.blue-bg .cp_price_header h4, .blue-bg .cp_price_header strong, .blue-bg .pricing-footer a.btn-style {
	color: #2196f3;
}
.cp_header_title {
	background: rgba(0,0,0,.20);
	text-align: center;
	height: 63px;
	line-height: 63px;
	margin-bottom: 30px;
}
.cp_header_title h3 {
	margin: 0px;
	padding: 0px;
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	line-height: 63px;
}
.cp_price_header {
	width: 70%;
	margin: 0 auto 10px;
	background: #fff;
	border-radius: 2px;
	text-align: center;
	padding: 18px 25px 21px;
}
.cp_price_header h4 {
	font: 800 48px/48px 'Roboto', sans-serif;
	margin: 0px;
}
.cp_price_header sup {
	top: -10px;
	font-size: 70%;
}
.cp_price_header sub {
	bottom: 0;
	font-size: 70%;
}
.cp_price_header strong {
	font-weight: 400;
	font-size: 14px;
}
.table-body ul {
	margin: 0px;
	padding: 0px 30px;
}
.table-body ul li {
	list-style: none;
	padding: 0 23px;
	line-height: 45px;
	border-bottom: 1px solid rgba(0,0,0,.20);
	color: #fff;
}
.table-body ul li:before {
	content: "\f138";
	font-family: FontAwesome;
	color: #fff;
	margin-right: 10px;
}
.pricing-footer {
	padding: 30px 0;
	text-align: center;
}
.pricing-footer a.btn-style {
	background: #fff;
	line-height: 41px;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	padding: 0 30px;
	border-radius: 2px;
	font-size: 15px;
	box-shadow: 0 2px 3px rgba(0,0,0,.23);
}
.pink-bg {
	background-color: #e91e63;
}
.pink-bg .cp_price_header h4, .pink-bg .cp_price_header strong, .pink-bg .pricing-footer a.btn-style {
	color: #e91e63;
}
.purple-bg {
	background-color: #673ab7;
}
.purple-bg .cp_price_header h4, .purple-bg .cp_price_header strong, .purple-bg .pricing-footer a.btn-style {
	color: #673ab7;
}
.pricing-v2 .cp-pricing-table-container {
	box-shadow: 0 2px 3px rgba(0,0,0,.23);
	border-top: 10px solid #ccc;
	border-radius: 2px;
}
.pricing-v2 .cp_price_header {
	width: 160px;
	height: 160px;
	background: #000;
	border-radius: 100%;
	margin: 20px auto 20px;
	padding: 45px 0;
}
.pricing-v2 .cp_price_header h4 {
	color: #fff;
	font-weight: 300;
}
.pricing-v2 .cp_price_header strong {
	color: #fff;
}
.pricing-v2 .table-body ul {
	padding: 0 10px;
}
.pricing-v2 .table-body ul li:before {
	display: none;
}
.pricing-v2 .table-body ul li {
	color: #444444;
	text-align: center;
	border-color: #ccc;
}
.cp-pricing-table-container.yellow-table {
	border-color: #ff5722
}
.yellow-table .cp_price_header, .yellow-table .pricing-footer a.btn-style {
	background-color: #ff5722;
	color: #fff;
}
.cp-pricing-table-container.blue-table {
	border-color: #2196f3
}
.blue-table .cp_price_header, .blue-table .pricing-footer a.btn-style {
	background-color: #2196f3;
	color: #fff;
}
.cp-pricing-table-container.pink-table {
	border-color: #e91e63
}
.pink-table .cp_price_header, .pink-table .pricing-footer a.btn-style {
	background-color: #e91e63;
	color: #fff;
}
.cp-pricing-table-container.purple-table {
	border-color: #673ab7
}
.purple-table .cp_price_header, .purple-table .pricing-footer a.btn-style {
	background-color: #673ab7;
	color: #fff;
}
/****************************************************************PRICING TABLE END****************************************************************/

/****************************************************TEAM PAGE START****************************************************/
.team-v1, .team-v3, .contact-title {
	width: 100%;
	float: left;
}
.team-v2 {
	width: 100%;
	float: left;
	background: #f5f5f5;
}
.team-v2 .cp-team-grid {
	margin: 0px;
}
.team-v2 .cp-team-content {
	bottom: 40px;
	height: auto;
	position: relative;
	width: 90%;
	padding: 20px 30px;
}
.team-v2 .cp-team-box .team-social {
	opacity: 1;
}
.team-v2 .cp-team-box:hover .cp-team-content {
	bottom: 40px;
}
.team-v2 .cp-team-content strong {
	font-weight: 400;
	color: #222222;
	position: relative
}
.team-v2 .cp-team-content strong:after {
	position: absolute;
	width: 70px;
	height: 1px;
	background: #cccccc;
	left: 0;
	right: 0;
	margin: auto;
	content: "";
	bottom: -15px;
}
.team-v2 .cp-team-content p {
	margin: 22px 0 13px;
}
.cp-team-info address {
	margin: 0px;
	padding: 0px;
}
.cp-team-info address ul {
	margin: 0px;
	padding: 0px;
}
.cp-team-info address ul li {
	list-style: none;
	width: 100%;
	float: left;
	margin-bottom: 15px;
}
.cp-team-info address ul li .fa {
	float: left;
	width: 25px;
}
.cp-team-info .contact-title {
	position: relative;
	margin-top: 15px;
	margin-bottom: 40px;
}
.cp-team-info .contact-title h2 {
	margin: 19px 0 8px;
	font-size: 48px;
	font-weight: 400;
	text-transform: uppercase;
	color: #222222
}
.cp-team-info .contact-title strong {
	font: 400 14px/14px 'Roboto', sans-serif;
	color: #222;
	font-weight: 400;
	text-transform: uppercase;
	padding: 15px 0 0 0;
	display: block;
}
.cp-team-info .contact-title:after {
	position: absolute;
	left: 0;
	bottom: -20px;
	width: 70px;
	height: 1px;
	background: #ccc;
	content: "";
}
.cp-team-logo, .cp-prograss-bars {
	width: 100%;
	float: left;
}
.cp-team-logo ul {
	margin: 0px;
	padding: 0px;
	border: 0 solid #ccc;
	border-width: 0 0 1px 1px;
	width: 100%;
	float: left;
}
.cp-team-logo li {
	list-style: none;
	width: 50%;
	float: left;
	text-align: center;
	border: 0 solid #ccc;
	border-width: 1px 1px 0 0;
}
.cp-team-logo img, .cp-client-logo img {
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
	opacity: .7;
}
.cp-team-logo img:hover, .cp-client-logo img:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: gray; /* IE 6-9 */
	opacity: 1;
}
.team-detail blockquote {
	width: 100%;
	float: left;
	border: 0px;
	margin: 10px 0 20px;
	padding: 0 0 0 100px;
	font-size: 24px;
	font-weight: 400;
	font-style: italic;
	position: relative;
}
.team-detail blockquote:before {
	content: "\f10d";
	font-family: FontAwesome;
	position: absolute;
	left: 0;
	top: 9px;
	width: 68px;
	height: 68px;
	text-align: center;
	color: #fff;
	line-height: 68px;
	font-size: 36px;
	font-style: normal;
}
.cp-home7-team {
	width: 100%;
	float: left;
	padding: 0 110px;
}
.team-v1 .cp-team-grid {
	margin: 0 0 20px 0;
}
.cp-home7-team .cp-section-wrap {
	width: 100%;
	float: left;
	box-sizing: border-box;
	background: #f5f5f5;
}
.cp-team-grid {
	width: 100%;
	float: left;
	margin: 0 0 40px;
	padding: 0;
}
.team-v1 .cp-team-grid li {
	margin-bottom: 70px;
}
.cp-team-grid li {
	list-style: none;
}
.cp-team-box {
	width: 100%;
	float: left;
	position: relative;
	transition: ease-in-out all 0.3s;
}
.team-social {
	width: 100%;
	float: left;
	margin: 0px;
	padding: 0px;
	text-align: center;
	opacity: 0;
	transition: all ease-in-out 0.3s;
}
.team-social li {
	display: inline-block;
	list-style: none;
	margin: 0 2px 0 0;
}
.team-v1 .team-social li {
	margin: 0 2px 0 0;
}
.team-social li a {
	height: 28px;
	width: 28px;
	border: 2px solid #ccc;
	line-height: 24px;
	display: block;
	font-size: 16px;
	text-decoration: none;
}
.team-social .fb {
	border-color: #3b5998;
	color: #3b5998;
	line-height: 28px;
}
.team-social .tw {
	border-color: #55acee;
	color: #55acee;
	line-height: 28px;
}
.team-social .pin {
	border-color: #cd242a;
	color: #cd242a;
	line-height: 28px;
}
.team-social .ins {
	border-color: #3f729b;
	color: #3f729b;
	line-height: 28px;
}
.team-social .i500 {
	border-color: #0099e5;
	color: #0099e5;
	line-height: 28px;
}
.team-social .dribb {
	border-color: #ea4c89;
	color: #ea4c89;
	line-height: 28px;
}
.cp-team-content {
	background: #fff;
	width: 85%;
	margin: auto;
	position: absolute;
	bottom: -40px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 20px 0;
	overflow: hidden;
	height: 83px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.cp-team-box:hover .cp-team-content {
	height: auto;
	box-shadow: 0 1px 3px rgba(0,0,0,.23);
	bottom: -60px;
}
.cp-team-box:hover .team-social {
	opacity: 1;
}
.cp-team-content h2 {
	margin: 0 0 7px;
}
.cp-team-content p {
	margin: 0 0 12px;
}
.cp-team-box .post-hover {
	left: -60px;
}
.cp-team-box .plus {
	left: 60px;
}
.aboutus-content {
	float: left;
	width: 100%;
}
.cp-about-team {
	width: 100%;
	float: left;
}
.cp-about-team .cp-team-box {
	width: 100%;
	float: left;
	box-shadow: 0 1px 2px rgba(0,0,0,.23);
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.cp-about-team .team-thumb {
	overflow: hidden;
}
.team-thumb > img, .cp-client-logo img {
	width: 100%;
}
.cp-about-team .cp-team-box li {
	list-style: none;
	text-align: center;
	position: relative;
}
.cp-about-team .cp-team-box .team-info {
	padding: 15px 0 17px;
}
.cp-about-team .cp-team-box .social {
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,.50);
	padding: 15px 0;
	opacity: 0;
}
.cp-about-team .cp-team-box .social li a {
	border-color: #fff;
	color: #fff
}
.cp-about-team .cp-team-box h2 {
	margin: 0px 0 5px;
}
.cp-about-team .cp-team-box p {
	margin: 0px;
}
.cp-about-team .cp-team-box:hover .social {
	bottom: 0;
	opacity: 1;
}
.cp-about-team .cp-team-box:hover img {
	transform: scale(1.05);
}
.cp-blog-post .cp-thumb:after, .cp-team-box .cp-thumb:after {
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 0;
	padding: 0;
	right: 0;
	top: 0;
	transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
	transform-origin: center center 0;
	transition: opacity 500ms ease 0s, transform 500ms ease 0s;
	width: 100%;
	content: "";
	position: absolute;
	background: rgba(0,0,0,.60);
}
.team-v2 .cp-thumb {
	float: left;
	width: 100%;
	overflow: hidden;
	background: #000;
}
.cp-team-box:hover .cp-thumb {
	opacity: 0.8;
}
.cp-blog-post .cp-thumb:hover .post-hover, .cp-team-box .cp-thumb:hover .post-hover {
	opacity: 1;
	top: 0;
}
.cp-thumb img {
	height: auto;
	width: 100%;
}
.cp-about-team .cp-team-box:hover img {
	transform: scale(1.05);
}
.social {
	margin: 0px;
	padding: 0px;
}
.social li {
	list-style: none;
	display: inline-block;
	margin-right: 4px;
}
.social li a {
	border: 2px solid #ccc;
	width: 28px;
	text-decoration: none;
	height: 28px;
	display: block;
	text-align: center;
	line-height: 24px;
	color: #222
}
.social .fb {
	border-color: #3b5998;
	color: #3b5998;
}
.social .tw {
	border-color: #55acee;
	color: #55acee;
}
.social .pin {
	border-color: #cd242a;
	color: #cd242a;
}
.social .ins {
	border-color: #3f729b;
	color: #3f729b;
}
.social .i500 {
	border-color: #0099e5;
	color: #0099e5;
}
.social .dribb {
	border-color: #ea4c89;
	color: #ea4c89;
}
.cp-team-info a.btn-view {
	float: left;
	width: 100%;
	padding: 20px 0;
	font: 500 18px/18px "Roboto", sans-serif;
	color: #fff;
	text-align: center;
	text-decoration: none;
	margin: 25px 0 0 0;
}
.cp-prograss-bars ul {
	margin: 0px;
	padding: 0px;
}
.cp-prograss-bars ul li {
	list-style: none;
	width: 100%;
	float: left;
	margin-bottom: 22px;
}
.cp-prograss-bars ul li:last-child, .cp-prograss-bars ul li:last-child .progress {
	margin: 0px;
}
.cp-prograss-bars label {
	font-weight: 400;
	color: #222222;
	text-transform: uppercase;
}
.cp-prograss-bars .progress {
	box-shadow: none;
	border-radius: 0px;
	background: #e1e1e1;
	height: 10px;
	position: relative;
	overflow: visible;
}
.cp-prograss-bars .progress-bar {
	box-shadow: none;
	text-align: right;
	position: relative;
}
.cp-prograss-bars .progress-bar strong {
	position: absolute;
	right: 0;
	top: -42px;
	background: #000;
	width: 46px;
	height: 30px;
	background: #222;
	text-align: center;
	line-height: 30px;
	border-radius: 2px;
}
.cp-prograss-bars .progress-bar strong:after {
	width: 0;
	height: 0;
	border-top: 11px solid #222;
	border-left: 10px solid transparent;
	content: "";
	bottom: -9px;
	right: 0;
	position: absolute;
}
/****************************************************TEAM PAGE END****************************************************/

/*******************************************************ABOUT PAGE START******************************************************/
.cp-sec-title {
	font: 400 24px/24px "Roboto", sans-serif;
	color: #222;
}
.cp-page-gallery {
	margin: 0 0 50px;
	padding: 0px;
	width: 100%;
	float: left;
}
.cp-page-gallery li {
	width: 25%;
	float: left;
	list-style: none;
	padding-right: 4px;
	position: relative;
}
.cp-page-gallery li:last-child {
	padding: 0px;
}
.cp-page-gallery li img {
	width: 100%;
	height: auto;
}
.cp-collapse-panel .panel {
	border: 0px;
	box-shadow: none;
}
.cp-collapse-panel .panel-default > .panel-heading, .cp-collapse-panel .panel-heading {
	border-radius: 0;
	border: 1px solid #cccccc;
	background: #fff;
}
.cp-collapse-panel .panel-heading {
	height: 42px;
	padding: 0px 15px;
}
.cp-collapse-panel .panel-title {
	font-size: 14px;
	color: #777777;
	font-weight: 500;
	line-height: 40px;
	margin: 0px;
}
.cp-collapse-panel .panel-group .panel-heading + .panel-collapse > .panel-body, .cp-collapse-panel .panel-group .panel-heading + .panel-collapse > .list-group {
	border: 0px;
}
.cp-collapse-panel .panel-body {
	padding: 15px;
}
.cp-collapse-panel .panel-body h5 {
	margin: 0 0 10px;
}
.cp-collapse-panel .panel-body p {
	margin: 0px;
}
.cp-collapse-panel .panel.panel-default {
	margin: 0 0 2px
}
.cp-collapse-panel .panel-group .panel + .panel {
	margin: 0 0 2px;
}
.cp-collapse-panel .panel-title > a, .cp-collapse-panel .panel-title > small, .cp-collapse-panel .panel-title > .small, .cp-collapse-panel .panel-title > small > a, .cp-collapse-panel .panel-title > .small > a {
	display: block;
}
.cp-collapse-panel .panel-title a {
	text-decoration: none;
	font: 400 14px/42px "Roboto", sans-serif;
}
.cp-collapse-panel b {
	font: 500 14px/42px "Roboto", sans-serif;
	color: #222;
}
.cp-collapse-panel .panel-title a.collapsed:after {
	content: "\f067";
	font-family: FontAwesome;
	float: right;
	color: #777;
}
.cp-collapse-panel .panel-title a:after {
	content: "\f068";
	font-family: FontAwesome;
	float: right;
	color: #777;
}
.cp-tabs-panel .nav-tabs > li > a {
	font: 400 14px/14px "Roboto", sans-serif;
	border-radius: 0px;
	border: 1px solid #cccccc;
	margin-right: -1px;
	color: #444;
	background: #f0f0f0;
}
.cp-tabs-panel .tab-content {
	border: 1px solid #cccccc;
	border-top: 0px;
	padding: 18px;
	width: 100%;
	float: left;
}
.cp-tabs-panel .nav-tabs > li.active > a, .cp-tabs-panel .nav-tabs > li.active > a:hover, .cp-tabs-panel .nav-tabs > li.active > a:focus {
	border-radius: 0px;
	color: #222222;
}
.cp-tabs-panel .tab-img {
	width: 45%;
	float: left;
	margin: 0 20px 0 0;
}
.cp-tabs-panel .tab-img img {
	width: 100%;
}
.cp-tabs-panel .tab-data {
	width: 48%;
	margin: 0 15px 0 0;
	float: left;
}
.cp-about2-features.pwrap-100 {
	padding: 0;
}
.cp-tabs-panel .tab-data ul.checklist {
	margin: 15px 0 0 0;
}
.cp-main-content {
	float: left;
	width: 100%;
}
.aboutus-content ul.checklist {
	margin: 25px 0 0 0;
}
ul.checklist {
	margin: 0px;
	padding: 0px;
}
ul.checklist li {
	font: 400 14px/14px "Roboto", sans-serif;
	list-style: none;
	color: #444444;
	padding: 10px 0 0 0;
}
ul.checklist li:first-child {
	padding: 0;
}
ul.checklist li:before {
	content: "\f046";
	font-family: FontAwesome;
	margin-right: 10px;
}
.cp-about-paralax {
	width: 100%;
	float: left;
	position: relative;
}
.pwrap-100 {
	padding: 0 100px;
}
.cp-about-paraxl-bg {
	background: url(../images/about-paralax.jpg) top center fixed;
	width: 100%;
	float: left;
	padding: 80px 0;
	position: relative;
}
.cp-about-paraxl-bg:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.60);
	content: "";
}
.cp-about-paralax .container {
	position: relative;
	z-index: 55;
}
.cp-about-paralax .cp-main-title h2, .cp-about-paralax .cp-main-title h4 {
	color: #fff;
}
.cp-about-features ul {
	margin: 0px;
	padding: 0px;
}
.cp-about-features ul li {
	list-style: none;
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 30px;
}
.cp-about-features ul li .icon {
	width: 83px;
	height: 83px;
	position: relative;
	text-align: center;
	font-size: 30px;
	color: #fff;
	line-height: 83px;
	float: left;
	margin-right: 15px;
}
.cp-about-features ul li .icon .fa {
	position: relative;
}
.cp-about-features ul li .icon:after {
	position: absolute;
	left: 0px;
	right: 0;
	width: 83px;
	height: 83px;
	border: 3px solid rgba(255,255,255,.25);
	content: "";
	border-radius: 100%;
}
.cp-about-features ul li .icon:before {
	position: absolute;
	width: 63px;
	height: 63px;
	border-radius: 100%;
	background: rgba(255,255,255,.25);
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.cp-about-features ul li h3 {
	margin: 0 0 9px;
	color: #fff;
	font-size: 24px;
	font-weight: 400;
}
.cp-about-features ul li p, .cp-about-features ul li:last-child {
	color: #fff;
	margin: 0px;
}
.cp-about-team {
	width: 100%;
	float: left;
}
.cp-about-team .cp-team-box {
	width: 100%;
	float: left;
	box-shadow: 0 1px 2px rgba(0,0,0,.23);
	margin: 0 0 30px 0;
	padding: 0px;
	overflow: hidden;
}
.team-v3 {
	margin-bottom: 20px;
}
.cp-about-team .team-thumb {
	overflow: hidden;
}
.team-thumb > img, .cp-client-logo img {
	width: 100%;
}
.cp-about-team .cp-team-box li {
	list-style: none;
	text-align: center;
	position: relative;
}
.cp-about-team .cp-team-box .team-info {
	padding: 15px 0 17px;
}
.cp-about-team .cp-team-box .social {
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,.50);
	padding: 15px 0;
	opacity: 0;
}
.cp-about-team .cp-team-box .social li a {
	border-color: #fff;
	color: #fff
}
.cp-about-team .cp-team-box h3 {
	margin: 0px 0 5px;
	font-size: 24px;
	font-weight: 400;
	color: #222222;
}
.cp-about-team .cp-team-box p {
	margin: 0px;
}
.cp-about-team .cp-team-box:hover .social {
	bottom: 0;
	opacity: 1;
}
.cp-about-team .cp-team-box:hover img {
	transform: scale(1.05);
}
.cp-about2-paraxl-bg {
	width: 100%;
	float: left;
	background: url(../images/about2-paralx.jpg) top center fixed;
	position: relative;
	padding: 50px 0;
}
.cp-about2-paraxl-bg:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.70);
	content: "";
}
.cp-features-list {
	padding: 0px;
	margin: 0px;
}
.cp-features-list h2 {
	color: #fff;
}
.cp-features-list li {
	list-style: none;
	width: 25%;
	float: left;
	text-align: center;
	padding: 0 15px;
	color: #fff;
}
.cp-features-list .icon {
	width: 127px;
	height: 127px;
	position: relative;
	margin: 0 auto 15px;
	font-size: 50px;
	color: #fff;
	line-height: 127px;
	z-index: 99;
	border: 5px solid #e26472;
	border-radius: 100%;
}
.cp-features-list .icon a {
	text-decoration: none;
	font-size: 50px;
	display: block;
}
.cp-features-list .icon:after {
	content: "";
	height: 1px;
	position: absolute;
	right: 104%;
	top: 50%;
	width: 158px;
	background: rgba(255,255,255,.2);
}
.cp-features-list li:first-child .icon:after {
	display: none;
}
.cp-features-list .icon a {
	width: 109px;
	height: 109px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	border-radius: 100%;
	background: #e26472;
	margin: auto;
	display: block;
	line-height: 109px;
	color: #fff;
}
.cp-features-list .icon i {
	text-shadow: 0 0px 4px rgba(0,0,0,.25);
}
.cp-features-list p {
	color: #fff;
	margin: 0px;
}
.cp-about-tabs-prog, .cp-about2-features, .cp-counting, .cp-about-clients, .cp-client-testimonials {
	width: 100%;
	float: left;
}
.cp-prograss-bars ul {
	margin: 0px;
	padding: 0px;
}
.cp-prograss-bars ul li {
	list-style: none;
	width: 100%;
	float: left;
	margin-bottom: 22px;
}
.cp-prograss-bars ul li:last-child, .cp-prograss-bars ul li:last-child .progress {
	margin: 0px;
}
.cp-prograss-bars label {
	font: 400 14px/14px "Roboto", sans-serif;
	color: #222;
	text-transform: uppercase;
}
.cp-prograss-bars .progress {
	box-shadow: none;
	border-radius: 0px;
	background: #e1e1e1;
	height: 10px;
	position: relative;
	overflow: visible;
}
.cp-prograss-bars .progress-bar {
	box-shadow: none;
	text-align: right;
	position: relative;
}
.cp-prograss-bars .progress-bar strong {
	position: absolute;
	right: 0;
	top: -42px;
	background: #000;
	width: 46px;
	height: 30px;
	background: #222;
	text-align: center;
	line-height: 30px;
	border-radius: 2px;
}
.cp-prograss-bars .progress-bar strong:after {
	width: 0;
	height: 0;
	border-top: 11px solid #222;
	border-left: 10px solid transparent;
	content: "";
	bottom: -9px;
	right: 0;
	position: absolute;
}
.cp-about2-features .features-bg {
	background: #f5f5f5;
	padding: 50px 20px;
}
.cp-about-features h2 {
	margin: 0 0 15px 0;
}
.cp-about2-features .cp-about-features ul li .icon::before {
	background: #e1e1e1;
}
.cp-about2-features .cp-about-features ul li .icon {
	color: #444;
}
.cp-about2-features .cp-about-features ul li .icon::after {
	border-color: #e1e1e1;
}
.cp-about2-features .cp-about-features ul li h3 {
	color: #222222;
}
.cp-about2-features .cp-about-features ul li:hover .icon {
	color: #fff;
}
.cp-about2-features .cp-about-features ul li p {
	color: #444;
}
.cp-counting .counting-bg {
	background: url(../images/counting-bg.jpg) top center fixed;
	position: relative;
	padding: 80px 0;
	margin: 0;
}
.cp-counting .counting-bg:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.60);
	content: "";
}
.cp-counting .counting-bg .container {
	position: relative;
	z-index: 88;
}
.cp-counting ul {
	margin: 0px;
	padding: 0px;
}
.cp-counting ul li {
	list-style: none;
	text-align: center;
}
.numscroller {
	color: #fff;
	font-size: 72px;
	font-weight: 300
}
.cp-counting strong {
	font-size: 24px;
	color: #fff;
	font-weight: 400;
}
.cp-client-logo {
	margin: 0px;
	padding: 0px;
	width: 100%;
	float: left;
	border: 0 solid #ccc;
	border-width: 0 0 1px 1px;
}
.cp-client-logo li {
	list-style: none;
	width: 33.333333%;
	float: left;
	border: 0 solid #ccc;
	border-width: 1px 1px 0 0;
}
.tm-text {
	width: 100%;
	float: left;
	background: #f5f5f5;
	padding: 22px 30px 26px;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	border-radius: 2px;
	position: relative;
}
.tm-text:after {
	width: 0;
	height: 0;
	border-top: 21px solid #f5f5f5;
	border-right: 20px solid transparent;
	content: "";
	position: absolute;
	right: 30px;
	bottom: -21px;
}
.co-testimonial {
	position: relative;
}
.co-testimonial .owl-theme .owl-controls {
	position: absolute;
	right: 0;
	bottom: 25px;
}
.owl-carousel .owl-item {
	float: left;
}
.co-testimonial .owl-theme .owl-controls .owl-page span {
	width: 30px;
	border-radius: 0;
	height: 4px;
	margin: 0 10px 0 0;
	background: #cccccc;
	opacity: 1;
}
.co-testimonial .user {
	width: 100%;
	float: left;
	margin-top: 20px;
}
.co-testimonial .user img {
	border-radius: 100%;
}
.co-testimonial .user i {
	float: left;
	margin-right: 15px;
}
.co-testimonial .user h5 {
	font-size: 14px;
	margin: 0px;
	font-weight: 800;
	text-transform: uppercase;
	color: #222222;
	margin: 15px 0 3px;
}
.co-testimonial .user strong {
	font-weight: 400;
	color: #444444;
}
#about-testimonials .owl-dots {
	float: right;
}
#about-testimonials .owl-dot > span {
	height: 4px;
	width: 30px;
	opacity: 1;
	float: left;
}
#about-testimonials .owl-dot {
	float: left;
	background-color: #ccc;
	margin: 0 0 0 10px;
}
.post-slider .owl-dots {
	display: block;
	text-align: center;
}
.post-slider .owl-dot {
	display: inline-block;
}
.post-slider .owl-dot > span {
	background: none;
	border-radius: 100%;
	display: block;
	height: 12px;
	margin: 5px 7px;
	width: 12px;
	border: 2px solid #fff;
}
.post-slider .owl-dot.active span {
	border: 2px solid rgba(0,0,0,0);
}
/*******************************************************ABOUT PAGE END******************************************************/

/**************************************************************BLOG PAGE START**************************************************************/
.cp-blog-list {
	margin: 0px;
	padding: 0px;
	width: 100%;
	float: left;
}
.cp-blog-list li {
	list-style: none;
}
.cp-blog-list .blog-post {
	margin-bottom: 50px;
	width: 100%;
	float: left;
}
.cp-blog-list .blog-post img {
	width: 100%;
	height: auto;
}
.cp-blog-list .blog-post iframe {
	width: 100%;
	border: 0px;
}
.blog-post h3 {
	font-size: 24px;
	font-weight: 400;
	margin: 0px;
	width: 100%;
	float: left;
}
.cp-blog-list .post-meta {
	margin: 0 0 17px;
	padding: 0px;
	width: 100%;
	float: left;
}
.cp-blog-list .post-meta li {
	list-style: none;
	display: inline-block;
	color: #999999;
	font-size: 12px;
}
.cp-blog-list .post-meta li:after {
	content: "|";
	padding: 0 15px;
}
.cp-blog-list .post-meta li:last-child:after {
	display: none;
}
.blog-post h3 {
	font-size: 24px;
	font-weight: 400;
	line-height: 20px;
	margin: 0 0 12px;
}
.blog-post h3 a {
	color: #222;
	text-decoration: none;
}
.blog-post h3 a:hover {
	text-decoration: none;
}
.blog-post a.readmore {
	font: 400 13px/13px 'Roboto', sans-serif;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,.23);
	color: #222;
	padding: 9px 15px;
	display: inline-block;
}
.blog-post a.readmore:hover {
	color: #fff;
	text-decoration: none;
}
.blog-post p {
	color: #444444;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 17px;
}
.blog-post .cp-thumb {
	margin-bottom: 29px;
	overflow: hidden;
	position: relative;
}
.blog-post .cp-thumb a {
	display: block;
	background: #000;
}
.owl-stage-outer .item {
	background: #000;
}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
	background: none;
}
.blog-post .cp-thumb:hover img {
	opacity: 0.7;
}
.pdate-picon {
	position: absolute;
	top: 0;
	left: 0;
	width: 55px;
	margin: 0px;
	padding: 0px;
	z-index: 11;
}
.pdate-picon li {
	width: 55px;
	height: 55px;
	list-style: none;
	text-align: center;
}
.pdate-picon li.pdate {
	color: #fff;
	font-size: 13px;
	line-height: 20px;
	padding-top: 10px;
}
.pdate-picon li.pdate strong {
	font-size: 24px;
	font-weight: 800;
	display: block;
}
.pdate-picon li.picon {
	background: #222222;
	color: #cccccc;
	line-height: 55px;
	font-size: 28px;
}
.blog-post .owl-theme .owl-controls {
	position: absolute;
	bottom: 10px;
	z-index: 99;
	width: 100%;
	text-align: center;
}
.blog-post .owl-theme .owl-controls .owl-page span {
	background: none;
	border: 2px solid #fff;
	opacity: 1;
}
.blog-post.quote-post blockquote {
	font-size: 24px;
	line-height: 36px;
	font-style: italic;
	border: 0px;
	margin: 0 0 0 90px;
	padding: 0px;
}
.quote-person {
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0,0,0,.23);
	line-height: 30px;
	padding: 0 15px;
	display: inline-block;
	font-weight: 400;
	color: #fff;
	font-size: 13px;
	margin-top: 15px;
	margin-left: 90px;
}
.blog-classic-view h3 {
	line-height: normal;
}
.blog-classic-view .cp-thumb {
	margin-bottom: 0;
}
.cp-pagination, .cp-pagination ul {
	width: 100%;
	margin: 0;
	float: left;
	text-align: center;
}
.cp-pagination .pagination > li {
	display: inline-block;
	margin: 0 3px
}
.cp-pagination .pagination > li > a, .cp-pagination .pagination > li > span {
	width: 35px;
	height: 35px;
	border-radius: 100%;
	box-shadow: 0 2px 3px rgba(0,0,0,.23);
	color: #444;
}
.cp-pagination .pagination > .active > a, .cp-pagination .pagination > .active > span, .cp-pagination .pagination > .active > a:hover, .cp-pagination .pagination > .active > span:hover, .cp-pagination .pagination > .active > a:focus, .cp-pagination .pagination > .active > span:focus {
	color: #fff;
}
.cp-pagination .pagination > li:first-child > a, .cp-pagination .pagination > li:first-child > span, .cp-pagination .pagination > li:last-child > a, .cp-pagination .pagination > li:last-child > span {
	border-radius: 100%;
}
.cp-pagination .pagination a:hover {
	color: #fff;
	border: 1px solid rgba(0,0,0,0);
}
/**************************************************************BLOG PAGE END**************************************************************/

/*************** SideBar *********************/
.sidebar .widget {
	position: relative;
	margin-bottom: 30px;
	width: 100%;
	float: left;
	clear: both;
}
.widget.search-widget > img {
	width: 100%;
}
.sidebar .widget .panel-group {
	width: 100%;
	margin: 0;
}
.sidebar .widget h3 {
	font: 700 20px/20px'Roboto', sans-serif;
	margin: 0 0 18px;
	text-transform: uppercase;
}
.sidebar .widget .navbar-form {
	margin: 0px;
	padding: 0px;
	width: 100%;
	position: relative;
}
.sidebar .widget .navbar-form .form-group {
	width: 100%;
	float: left;
}
.sidebar .widget .navbar-form .form-control {
	border: 0px;
	background: #222;
	border-radius: 0px;
	width: 100%;
	height: 45px;
}
.sidebar .widget .search-btn {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 45px;
	width: 41px;
	color: #fff;
	font-size: 15px;
	line-height: 45px;
	border-radius: 0;
	border: 0px;
}
.popular-posts {
	margin: 0px;
	padding: 0px;
}
.popular-posts .cp-thumb {
	background: #000;
}
.popular-posts .cp-thumb:hover img {
	opacity: 0.7;
}
.popular-posts li {
	list-style: none;
	margin-bottom: 16px;
}
.popular-posts li:last-child {
	margin: 0px;
}
.tab-widget .tab-content {
	border: 1px solid #cccccc;
	padding: 20px;
	background: #fff;
	border-top: 0px;
}
.tab-widget .nav-tabs > li {
	width: 50%;
	float: left;
}
.tab-widget .nav-tabs > li.active > a, .tab-widget .nav-tabs > li.active > a:hover, .tab-widget .nav-tabs > li.active > a:focus {
	border-radius: 0px;
	border: 1px solid #cccccc;
	bottom: 0;
	border-bottom: 0px;
	color: #222;
}
.tab-widget .nav-tabs {
	border: 0px;
}
.tab-widget .nav-tabs > li > a {
	font: 500 11px/47px'Roboto', sans-serif;
	border-radius: 0px;
	padding: 0px;
	background: #f0f0f0;
	color: #777777;
	margin: 0px;
	border: 1px solid #cccccc;
	padding: 0 20px;
	height: 47px;
}
.popular-posts b {
	font: 500 14px/14px'Roboto', sans-serif;
	color: #222;
	margin: 12px 0 4px;
	clear: both;
	width: 100%;
	float: left;
}
.popular-posts b a {
	text-decoration: none;
	color: #222;
}
.popular-posts .post-meta, .popular-posts .post-meta i {
	display: block;
	color: #999999;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
}
.popular-posts p {
	color: #777777;
	margin: 0px;
}
.sidebar .widget .cp-collapse-panel .panel-default > .panel-heading, .cp-collapse-panel .panel-heading {
	background: #f0f0f0;
	font-size: 14px;
	border: 0px;
	text-decoration: none;
}
.sidebar .widget .categories {
	margin: 0px;
	padding: 0px;
}
.sidebar .widget .categories li {
	padding: 12px 0 0 0;
	list-style: none;
}
.sidebar .widget .categories li:first-child {
	padding: 0;
}
.sidebar .widget .categories li a {
	font: 500 14px/14px 'Roboto', sans-serif;
	color: #444;
}
.sidebar .widget .categories li a:before {
	content: "\f0da";
	font-size: 12px;
	font-family: FontAwesome;
	margin-right: 20px;
}
.sidebar .widget .categories li a:hover {
	text-decoration: none;
}
.cp-rp {
	margin: 0px;
	padding: 0px;
}
.cp-rp li {
	width: 45%;
	float: left;
	list-style: none;
	margin-bottom: 10px;
	margin-right: 10px;
}
.cp-rp li img {
	width: 100%;
}
.cp-contact-form {
	float: left;
	margin: 30px 0 0 0;
	width: 100%;
}
.contact-v2-map {
	float: left;
	width: 100%;
}
.tag-cloud a {
	border-radius: 25px;
	border: 1px solid #ccc;
	line-height: 32px;
	padding: 0 13px;
	display: inline-block;
	margin: 0 7px 10px 0;
	color: #777777;
}
.tag-cloud a:hover {
	color: #fff;
	border: 1px solid rgba(0,0,0,0);
	text-decoration: none;
}
.quick-form {
	margin: 0px;
	padding: 0px;
}
.quick-form li {
	list-style: none;
	width: 100%;
	float: left;
}
.quick-form .input-group .form-control, .quick-form .input-group textarea {
	border: 1px solid #cccccc;
	box-shadow: none;
	width: 100%;
	float: left;
	margin-bottom: -1px;
	padding: 0 10px;
	resize: none;
}
.quick-form .submit {
	margin-top: 20px;
	float: right;
	border: 0px;
	color: #fff;
	text-transform: uppercase;
	padding: 0 15px;
	line-height: 40px;
	border-radius: 2px;
}
.sidebar .widget:last-child {
	margin: 0px;
}
.cp-blog-grid .cp-thumb {
	height: 300px;
	overflow: hidden;
}
.cp-blog-list.cp-blog-grid .audioplayer {
	margin: 0px;
}
.cp-blog-list .audioplayer {
	margin-left: 90px;
}
.cp-blog-classic .cp-thumb {
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding-right: 15px;
	margin-bottom: 0px;
	height: 320px;
	overflow: hidden;
}
.cp-blog-classic .cp-post-content {
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding-left: 15px;
}
.cp-blog-classic .blog-post {
	width: 100%;
	float: left;
}
.cp-blog-list.cp-blog-classic .post-meta li::after {
	padding: 0 10px;
}
.cp-blog-list.cp-blog-classic h3 {
	line-height: normal;
}
.cp-blog-classic .audio-post .cp-thumb, .audio-post .cp-post-content {
	width: 100%;
	float: left;
	height: auto;
	padding: 0px;
}
.cp-blog-classic .audio-post .cp-thumb .audioplayer {
	margin: 0 0 22px 0
}
.cp-blog-classic .quote-post .cp-thumb {
	width: 15%;
}
.cp-blog-classic .quote-post .cp-post-content {
	width: 85%;
}
.cp-blog-classic .blog-post.quote-post blockquote {
	margin: 0px;
}
.cp-post-details p.first-p:first-letter {
	font-size: 60px;
	font-weight: 700;
	float: left;
	color: #fff;
	padding: 12px 15px;
	margin-right: 10px;
}
.cp-post-details blockquote {
	font: italic 400 24px/30px 'Roboto', sans-serif;
	font-style: italic;
	color: #444;
	margin: 0 0 20px 20%;
	padding: 0px;
	border: 0px;
	position: relative;
}
.cp-post-details blockquote:before {
	content: "\f10d";
	font-family: FontAwesome;
	height: 67px;
	width: 67px;
	float: left;
	margin-right: 20px;
	text-align: center;
	line-height: 67px;
	color: #fff;
	font-style: normal;
	font-size: 36px;
	position: absolute;
	top: 0;
	left: -80px;
}
.post-gallery {
	margin: 5px 0 15px;
	padding: 0px;
	width: 100%;
	float: left;
}
.post-gallery li {
	width: 33.333333%;
	float: left;
	padding-right: 10px;
	box-sizing: border-box;
}
.cp-post-details .tag-cloud strong {
	font: 400 24px'Roboto', sans-serif;
	color: #444;
	text-transform: uppercase;
	margin-right: 10px;
}
.cp-blog-list.cp-post-details .blog-post {
	margin-bottom: 0px;
}
.cp-post-details .share-post {
	text-align: center;
	margin: 20px 0 30px;
}
.cp-post-details .share-post .share-btn, .cp-portfolio-details .share-btn {
	font-size: 15px;
	text-transform: uppercase;
	color: #222;
	background: #fff;
	line-height: 41px;
	padding: 0 20px;
	box-shadow: 0 2px 4px rgba(0,0,0,.23);
	display: inline-block;
	position: relative;
	z-index: 99;
	text-decoration: none;
}
.cp-post-details .share-post .share-btn:after {
	position: absolute;
	height: 3px;
	border-bottom: double 4px #ccc;
	content: "";
	width: 70px;
	z-index: 1;
	top: 18px;
	right: -70px;
}
.cp-post-details .share-post .share-btn:before {
	position: absolute;
	height: 3px;
	border-bottom: double 4px #ccc;
	content: "";
	width: 70px;
	z-index: 1;
	top: 18px;
	left: -70px;
}
.about-author h3 {
	font-weight: 400;
}
.about-author .cp-author {
	background: #f0f0f0;
	padding: 30px;
	margin-bottom: 30px;
}
.about-author .cp-author b {
	font: 500 14px/14px 'Roboto', sans-serif;
	color: #222;
	margin: 0 0 7px 0;
	display: block;
}
.about-author .cp-author img {
	float: left;
	margin-right: 30px;
}
.about-author .cp-author h5 {
	margin: 0 0 7px;
	font-size: 14px;
	font-weight: 500;
}
.cp-comments li, .cp-reviews li {
	list-style: none;
	width: 100%;
	clear: both;
}
.cp-comment-author {
	width: 98px;
	float: left;
	margin-right: 15px;
}
.cp-comments {
	margin: 0px;
	padding: 0px;
}
.cp-comments h5 {
	margin: 0 0 8px;
	font-size: 14px;
	font-weight: 500;
}
.cp-comments h5 a {
	color: #222;
}
.cp-comments .date-time {
	font: 400 14px/14px'Roboto', sans-serif;
	color: #888888;
	margin-bottom: 13px;
}
.cp-comments p {
	margin: 0px;
}
.cp-comments li .cp-comments {
	margin-left: 100px;
	width: auto;
}
.cp-comments .comments {
	width: 100%;
	float: left;
	margin-bottom: 30px;
}
.replay-comment {
	width: 35px;
	height: 35px;
	border-radius: 100%;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 35px;
}
.replay-comment a {
	color: #777;
}
.cp-form {
	padding: 0px;
	margin: 0px;
	width: 100%;
	float: left
}
.cp-form .input-group {
	list-style: none;
	border-bottom: #cccccc solid 1px;
	padding: 15px 0;
}
.cp-form .input-group-addon {
	background: none;
	border: 0px;
	border-right: 1px solid #ccc;
	color: #cccccc;
}
.cp-form .form-control {
	border: 0px;
	box-shadow: none;
	resize: none;
}
.cp-form .input-group-addon:first-child {
	border-right: 1px solid #ccc;
}
.cp-form .btn-submit {
	border: 0px;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0,0,0,.23);
	color: #fff;
	text-transform: uppercase;
	padding: 0 25px;
	float: right;
	line-height: 40px;
	font-size: 15px;
	margin-top: 20px;
}
/*************** SideBar End *********************/

/***************************************************GALLERY START***************************************************/
.cp-gallery-fluid {
	width: 100%;
	float: left;
	padding: 0 60px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.cp-gallery-fluid .gallery-grid .cp-grid {
	margin: 0px;
}
.cp-gallery-fluid .cp-gallery-masonry-1 .isotope .item {
	height: auto;
	width: 50%;
	padding: 3px;
	list-style: none;
	overflow: hidden;
	float: left;
}
.cp-gallery-fluid .cp-gallery-masonry-2 .isotope .item {
	height: auto;
	width: 25%;
	padding: 3px;
	list-style: none;
	overflow: hidden;
	float: left;
}
.cp-gallery-fluid .cp-gallery-masonry-3 .isotope .item {
	height: auto;
	width: 33.333333%;
	padding: 3px;
	list-style: none;
	overflow: hidden;
	float: left;
}
.gallery-grid .dh-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	overflow: hidden;
	opacity: 0;
	transition: ease-in-out all 0.3s;
	-webkit-transition: ease-in-out all 0.3s;
	height: 150px;
	margin: auto;
	left: 0;
	right: 0;
	top: 100%;
	bottom: 0;
	z-index: 99;
}
.gallery-grid .dh-overlay .cp-icon-holder {
	height: 38px;
	width: 38px;
	display: inline-block;
	text-align: center;
	display: inline-block;
	line-height: 38px;
	color: #fff;
	font-size: 38px;
	margin: 0 10px;
}
.gallery-grid .dh-overlay h3, .cp-img-info h3 {
	color: #fff;
	margin: 20px 0 10px;
	font-size: 24px;
	font-weight: 400;
	line-height: 20px;
}
.gallery-grid .dh-overlay strong, .cp-img-info strong {
	font-size: 14px;
	font-weight: normal;
	color: #fff;
}
.gallery-grid .dh-overlay ul.cp-gallery-tools {
	width: 100%;
	text-align: center;
	margin: 13px 0 0;
	padding: 0px;
	position: relative
}
.gallery-grid .dh-overlay ul.cp-gallery-tools li {
	display: inline-block;
	list-style: none;
	color: #fff;
	margin: 0 5px;
}
/* ---- isotope ---- */
		
.cp-gallery-masonry .isotope-filters {
	width: 100%;
	float: left;
	margin: 0 0 30px;
	text-align: center;
}
.isotope-filters button {
	border: none;
	line-height: 30px;
	padding: 0 20px;
	cursor: pointer;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.15);
	color: #222222;
	font-size: 13px;
	margin: 0 5px;
	text-transform: uppercase;
}
.isotope-filters button:focus {
	outline: none;
	outline-style: none;
	outline-offset: 0;
}
/* clear fix */
.isotope:after {
	content: '';
	display: block;
	clear: both;
}
.full-width {
	padding: 0px;
}
.gallery-grid {
	width: 100%;
	float: left;
}
.gallery-grid .cp-grid {
	margin: 0 -2px;
	padding: 0px;
	width: 100%;
	float: left;
	overflow: hidden;
}
.gallery-grid .cp-grid img {
	width: 100%;
	height: auto;
}
.cp-gallery-grid-1 .cp-grid>li {
	list-style: none;
	width: 25%;
	float: left;
	box-sizing: border-box;
	padding: 2px;
}
.cp-gallery-grid-2 .cp-grid>li {
	list-style: none;
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 2px;
}
.cp-gallery-grid-3 .cp-grid>li, .cp-gallery-grid-4 .cp-grid>li {
	list-style: none;
	width: 33.33333333%;
	float: left;
	box-sizing: border-box;
	padding: 2px;
}
.cp-gallery-grid-4 .cp-img-info, .cp-gallery-masonry-2 .cp-img-info {
	bottom: -100%;
	opacity: 0;
}
.cp-gallery-grid-4 .cp-grid>li:hover .cp-img-info, .cp-gallery-masonry-2 .cp-grid>li:hover .cp-img-info {
	bottom: 18px;
	opacity: 1;
}
.error-page .holder {
	float: left;
	width: 100%;
	text-align: center;
	padding: 100px 0;
}
.error-page .holder h2 {
	color: #222;
	font-size: 48px;
	margin: 0 0 30px 0;
}
.error-page .holder p {
	font-size: 16px;
	color: #222;
}
.cp-inner-banner p {
	text-align: center;
	font-size: 16px;
	color: #fff;
}
/***************************************************GALLERY END***************************************************/

/***************************************************LOGIN PAGE START***************************************************/
.cp-login {
	float: left;
	width: 100%;
}
.cp-login .holder {
	margin: 0 auto;
	width: 360px;
	overflow: hidden;
}
.cp-login .holder input[type="text"] {
	float: left;
	width: 100%;
	height: 50px;
	border: 1px solid #c1c1c1;
	padding: 0 18px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0 0 30px 0;
	font: 400 14px 'Open Sans', sans-serif;
	color: #666;
}
.cp-login .holder input[type="password"] {
	float: left;
	width: 100%;
	height: 50px;
	border: 1px solid #c1c1c1;
	padding: 0 18px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0 0 30px 0;
	font: 400 14px 'Open Sans', sans-serif;
	color: #666;
}
.cp-login .holder input[type="submit"] {
	float: left;
	width: 100%;
	padding: 18px 0;
	text-align: center;
	font: 700 14px 'Open Sans', sans-serif;
	color: #fff;
	text-transform: uppercase;
	border: 0;
}
.cp-login .holder input[type="submit"]:hover {
	background-color: #000;
}
.cp-login input::-webkit-input-placeholder {
 color:#666;
 opacity:1;
}
.cp-login input:-moz-placeholder {
 color:#666;
 opacity:1;
}
.cp-login input::-moz-placeholder {
 color:#666;
 opacity:1;
}
.cp-login input:-ms-input-placeholder {
 color:#666;
 opacity:1;
}
.cp-login textarea::-webkit-input-placeholder {
 color:#666;
 opacity:1;
}
.cp-login textarea:-moz-placeholder {
 color:#666;
 opacity:1;
}
.cp-login textarea::-moz-placeholder {
 color:#666;
 opacity:1;
}
.cp-login textarea:-ms-input-placeholder {
 color:#666;
 opacity:1;
}
.cp-register .holder {
	width: 750px;
	margin: 0 auto;
	overflow: hidden;
}
.cp-register .holder input[type="checkbox"] {
	float: left;
	margin: 20px 7px 0 0;
}
.cp-register .holder strong.title {
	float: left;
	font: 12px/12px 'Open Sans', sans-serif;
	color: #666;
	padding: 20px 0 0 0;
}
.cp-register .holder strong.title a {
	text-decoration: none;
}
.cp-register .holder strong.title a:hover {
	text-decoration: underline;
}
/***************************************************LOGIN PAGE END***************************************************/

/*************************************************************UPLOAD PHOTO FORM START*************************************************************/
.cp-upload-form {
	float: left;
	width: 100%;
	padding: 50px 0 150px 0;
}
.upload-box {
	float: left;
	width: 100%;
	background-color: #fff;
	padding: 74px 130px;
	border-radius: 3px;
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.upload-box .holder {
	position: relative;
}
.upload-box:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 1px dashed #959595;
	width: 93%;
	height: 87%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.upload-box a.upload-pic {
	display: block;
	text-align: center;
	padding: 0 0 15px 0;
	text-decoration: none;
}
.upload-box a.upload-pic span {
	font-size: 40px;
	color: #222;
}
.upload-box strong {
	font: 400 14px/14px 'Roboto', sans-serif;
	color: #444;
	display: block;
	text-align: center;
}
.upload-box strong b {
	display: block;
	font-weight: 400;
	padding: 20px 0 20px 0;
}
.upload-box .btn-file {
	position: relative;
	overflow: hidden;
	width: 100%;
	text-align: center;
	float: left;
	padding: 17px 0;
	font: 400 14px/14px 'Roboto', sans-serif;
	color: #fff;
	cursor: pointer;
}
.upload-box .btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
.upload-box .icon-icons-08 {
	padding: 0 5px 0 0;
}
.cp-fill-box {
	float: left;
	width: 100%;
	background-color: #f5f5f5;
	padding: 20px 30px;
}
.cp-fill-box ul {
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
}
.cp-fill-box ul li {
	float: left;
	padding: 15px 0;
	width: 100%;
	border-top: 1px solid #ccc;
}
.fill-box-head {
	float: left;
	width: 100%;
}
.fill-box-head strong.title {
	float: left;
	font: 900 14px/14px 'Roboto', sans-serif;
	color: #222;
	width: 165px;
}
.fill-box-head strong.dpi {
	float: left;
	font: 900 14px/14px 'Roboto', sans-serif;
	color: #222;
	width: 263px;
}
.fill-box-head strong.price {
	float: left;
	font: 900 14px/14px 'Roboto', sans-serif;
	color: #222;
}
.cp-check-box {
	float: left;
	width: 130px;
	padding: 7px 0 0 0;
}
.cp-fill-box .checkboxArea, .cp-fill-box .checkboxAreaChecked {
	float: left;
	width: 20px;
	height: 20px;
	overflow: hidden;
	background: url(../images/checkbox.gif) no-repeat;
	margin: 0 10px 0 0;
}
.cp-fill-box .checkboxAreaChecked {
	background-position: 0 -20px;
}
.cp-fill-box label {
	font: 900 14px/14px 'Roboto', sans-serif;
	color: #222;
}
.cp-fill-box .input-1 {
	float: left;
	background: #fff;
	border: 0;
	width: 50px;
	height: 34px;
	padding: 0;
	margin: 0;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	font: 400 14px/14px 'Roboto', sans-serif;
	color: #222;
	text-align: center;
}
.cp-fill-box .fa {
	float: left;
	color: #444;
	font-size: 10px;
	line-height: 33px;
	padding: 0 10px;
}
.cp-fill-box span {
	font: 900 14px/33px 'Roboto', sans-serif;
	color: #222;
	float: left;
	padding: 0 10px;
}
.cp-fill-box .input-2 {
	float: right;
	background: #fff;
	border: 0;
	width: 67px;
	height: 34px;
	padding: 0;
	margin: 0;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	font: 400 14px/14px 'Roboto', sans-serif;
	color: #222;
	text-align: center;
}
.image-information {
	float: left;
	width: 100%;
	padding: 40px 0 0 0;
}
.image-information input[type="text"] {
	float: left;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
	margin: 0 0 30px 0;
	font: 400 14px/18px 'Roboto', sans-serif;
	color: #222;
}
.image-information input::-webkit-input-placeholder {
 color:#222;
 opacity:1;
}
.image-information input:-moz-placeholder {
 color:#222;
 opacity:1;
}
.image-information input::-moz-placeholder {
 color:#222;
 opacity:1;
}
.image-information input:-ms-input-placeholder {
 color:#222;
 opacity:1;
}
.image-information textarea::-webkit-input-placeholder {
 color:#222;
 opacity:1;
}
.image-information textarea:-moz-placeholder {
 color:#222;
 opacity:1;
}
.image-information textarea::-moz-placeholder {
 color:#222;
 opacity:1;
}
.image-information textarea:-ms-input-placeholder {
 color:#222;
 opacity:1;
}
.cp-select-fields {
	float: left;
	width: 100%;
	padding: 40px 0 0 0;
}
/* Selects */
.selectArea {
	font: 400 14px/23px 'Roboto', sans-serif;
	color: #222;
	position: relative;
	height: 23px;
	float: left;
	width: 100% !important;
}
.selectArea .left {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: url(../images/select-left.gif) no-repeat;
	display: block;
}
.selectArea a.selectButton {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: url(../images/select-button.gif) no-repeat 100% 0;
}
.selectArea .center {
	height: 23px;
	line-height: 23px;
	display: block;
	padding: 0 26px 0 0;
	background: url(../images/select-center.gif) repeat-x;
}
.selectArea .center img {
	float: left;
}
/*Selects drop-down*/
.optionsDivInvisible, .optionsDivVisible {
	position: absolute;
	background-color: #fff;
	border: 0;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
	display: block;
	z-index: 30;
	font: 400 14px/23px 'Roboto', sans-serif;
	color: #222;
	width: 555px !important;
	margin: 12px 0 0 0;
}
.optionsDivScroll ul {
	height: 205px;
	overflow: auto;
}
.drop-dif {
	background: #99CCCC;
}
.optionsDivInvisible {
	display: none;
}
.optionsDivVisible ul {
	margin: 0;
	padding: 2px;
	overflow: hidden;
	list-style: none;
}
.optionsDivVisible ul li {
	float: left;
	width: 100%;
}
.optionsDivVisible a {
	color: #000;
	overflow: hidden;
	text-decoration: none;
	display: block;
	height: 1%;
	padding: 2px 4px;
}
.optionsDivVisible a img {
	border: none;
	float: left;
}
.optionsDivVisible a:hover {
	color: #fff;
	text-decoration: none;
}
.cp-select {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding: 12px 0 13px 0;
	margin: 0 0 30px 0;
}
.cp-select-fields .checkboxArea, .cp-select-fields .checkboxAreaChecked {
	float: left;
	width: 20px;
	height: 20px;
	overflow: hidden;
	background: url(../images/checkbox.gif) no-repeat;
	margin: 0 10px 0 0;
}
.cp-select-fields .checkboxAreaChecked {
	background-position: 0 -20px;
}
.cp-select-fields label {
	font: 900 14px/14px 'Roboto', sans-serif;
	color: #222;
}
.cp-select-fields button {
	float: right;
	padding: 18px 50px 18px 30px;
	border: 0;
	margin: 0;
	border-radius: 3px;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
	font: 400 14px/14px 'Roboto', sans-serif;
	color: #fff;
}
.cp-select-fields .icon-icons-08 {
	padding: 0 6px 0 0;
}
.cp-select-fields .cp-check-box {
	padding: 16px 0 0 0;
}
/*************************************************************UPLOAD PHOTO FORM END*************************************************************/

/*************************************************************APP SECTION START*************************************************************/
.app-section {
	float: left;
	width: 100%;
	background-color: #f5f5f5;
	padding: 50px 0 128px 0;
}
.app-section h2 {
	font: 300 30px/30px "Roboto", sans-serif;
}
.app-section .cp-text-box {
	float: left;
	width: 460px;
	margin: 70px 0 0 0;
}
.app-section .cp-text-box p {
	margin: 0 0 30px 0;
}
.app-section .cp-text-box .img-box a {
	margin: 0 10px 0 0;
	float: left;
}
.app-section .frame {
	position: absolute;
	top: 0;
	width:100%;
	right:0;
}
.app-section .frame img{
	width:100%;
}
/*************************************************************APP SECTION END*************************************************************/

/****************************************************CATEGORY SECTION START****************************************************/
.category-section {
	float: left;
	width: 100%;
	background-color: #fff;
	padding: 150px 0 65px 0;
}
.category-section .cp-box {
	float: left;
	width: 100%;
}
.category-section .cp-box h2 {
	font: 300 30px/30px "Roboto", sans-serif;
}
.category-section .cp-box ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.category-section .cp-box ul li {
	display: block;
	line-height: 14px;
	overflow: hidden;
	padding: 10px 0 0 0;
}
.category-section .cp-box ul li:first-child {
	padding: 0;
}
.category-section .cp-box ul li a {
	font: 400 14px/14px "Roboto", sans-serif;
	color: #444;
	text-decoration: none;
}
/****************************************************CATEGORY SECTION END****************************************************/

/*******************************************************NEWSLETTER SECTION START******************************************************/
.newsletter-section {
	float: left;
	width: 100%;
}
.newsletter-section .holder {
	width: 750px;
	margin: 0 auto;
}
.newsletter-section .holder h2 {
	font: 300 30px/30px "Roboto", sans-serif;
	color: #fff;
	text-align: center;
}
.newsletter-section .holder form {
	float: left;
	width: 100%;
	position: relative;
}
.newsletter-section .holder form input[type="text"] {
	float: left;
	width: 100%;
	height: 51px;
	background-color: #fff;
	padding: 0 180px 0 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 0 0 5px rgba(0,0,0,0.2);
	font: 400 14px "Roboto", sans-serif;
	color: #444;
}
.newsletter-section .holder form input::-webkit-input-placeholder {
 color:#666;
 opacity:1;
}
.newsletter-section .holder form input:-moz-placeholder {
 color:#666;
 opacity:1;
}
.newsletter-section .holder form input::-moz-placeholder {
 color:#666;
 opacity:1;
}
.newsletter-section .holder form input:-ms-input-placeholder {
 color:#666;
 opacity:1;
}
.newsletter-section .holder form textarea::-webkit-input-placeholder {
 color:#666;
 opacity:1;
}
.newsletter-section .holder form input[type="submit"] {
	position: absolute;
	right: 0;
	top: 0;
	padding:0 48px;
	height: 51px;
	border: 0;
	background-color: #faa61a;
	text-align: center;
	font: 400 14px "Roboto", sans-serif;
	color: #fff;
}
/*******************************************************NEWSLETTER SECTION END******************************************************/

/*******************************************************WRAPPER END*******************************************************/

/**************************************************TRANSITION START**************************************************/
#cp_side-menu > a, .cp_side-navigation li a, .cp-sidebar-social ul li a, .cp-sidebar-social ul li a span, #cp_side-menu a.btn-newsletter, .yamm-content ul li a, .navbar-nav > li > .dropdown-menu li a:before, .banner-btn-box a.btn-uploading, .banner-btn-box a.btn-discover, .cp-category .cp-box .cp-text-box, .cp-category .cp-box, .detail-row ul li a, .cp-price-box a.add-cart, .cp-price-box ul li, .cp-inner-banner .breadcrumb li a, .page-404 .button, .cp-woo-products .add_to_cart_button, .single_add_to_cart_button, .btn.btn-submit, .cp-about-team .cp-team-box img, .cp-about-team .cp-team-box .social, .cp-team-content, .cp-pagination .pagination a, .tag-cloud a, .cp-image-detail ul li strong a, .sidebar .widget .categories li a, .blog-post a.readmore, .cp-about-features ul li .icon:after, .cp-about-features ul li .icon:before, .cp-about-features h2, .cp-login .holder input[type="submit"], .optionsDivVisible a, .cp-team-content, .team-v2 .cp-thumb, .blog-post h3 a, .blog-post .cp-thumb img, .popular-posts .cp-thumb img, .sidebar .widget .categories li a, .category-section .cp-box ul li a {
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
/**************************************************TRANSITION END**************************************************/
.FONTS {
	font-family: 'Roboto', sans-serif;
}
.tb-50 {
	padding: 50px 0;
}
.top-50 {
	padding: 50px 0 0 0;
}
