

/*********************************************RESPONSIVE 767 START*********************************************/
@media (max-width: 767px) {
.sidebar-menu-box {
	display: none;
}
strong.logo {
	width: 100%;
	clear: both;
}
.login-section {
	padding: 20px 0;
	float: left;
	width: 100%;
}
.login-section ul {
	display: block;
	text-align: center;
}
.login-section ul li {
	float: none;
	display: inline-block;
}
.logo-row {
	padding: 10px 0 25px 0;
}
.navbar-header {
	padding: 8px 0 0 0;
}
.cp-navigation-row .navbar-nav {
	background-color: #fff;
	margin: 0;
}
.cp-navigation-row .navbar-nav li {
	display: block;
	text-align: left;
}
.cp-search-box {
	height: 32px;
	padding: 10px 0 0 0;
	background-color: #f0f0f0;
	width: 100%;
}
.cp-search-outer {
	width: 100%;
	padding: 30px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.cp-search-outer strong.title {
	font-size: 38px;
	padding: 0 0 20px 0;
}
#cp-banner .caption .holder {
	width: 100%;
}
#cp-banner .caption .holder h1 {
	font-size: 48px;
}
#footer {
	padding: 16px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.footer-social {
	padding: 0;
}
.copyrights {
	padding: 9px 0 0 0;
}
.cp-search-outer {
	top: 198px;
}
.cp-navigation-row .yamm .yamm-content {
	padding: 20px 0;
	width: 100%;
}
.aboutus-content p{
	margin:0 0 20px 0;
}
.pwrap-100{
	padding:0;
}
.cp-features-list li{
	width:100%;
	margin-bottom:30px;
}
.cp-features-list .icon:after{
	background:none;
}
.cp-tabs-panel{
	float:left;
	margin-bottom:30px;
}
.cp-about-features{
	float:left;
	width:100%;
	padding:0 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.cp-about-features ul{
	margin-bottom:30px;
	overflow:hidden;
}
.cp-counting .counting-bg{
	padding:40px 0;
}
.cp-counting ul li, .cp-client-logo{
	margin-bottom:20px;
}
.blog-post h3{
	font-size:21px;
}
.cp-pagination, .cp-pagination ul{
	margin-bottom:10px;
}
.widget.search-widget > img{
	width:100%;
}
.cp-rp li{
	margin-right:10px;
	width:47%;
}
.cp-rp li img{
	width:100%;
}
.blog-classic-view .cp-thumb{
	margin-bottom:20px;
}
.contact-info{
	float:left;
	margin:20px 0 0 0;
}
.cp-contact-form{
	float:left;
	margin:30px 0 0 0;
	width:100%;
}
.contact-v2-map{
	float:left;
	width:100%;
}
.cp-category{
	padding:30px 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.cp-photo-box ul{
	margin:0;
}
.cp-photo-box li{
	margin:0 0 20px 0 !important;
	width:100%;
}
.cp-photo-box .cp-box{
	width:100%;
}
.cp-load-more{
	margin:10px 0 0 0;
}
.page-404 .search-404{
	width:100%;
}
.page-404 .search-404 form{
	width:100%;
	position:relative;
}
.page-404 .search-404 form .form-control{
	width:100%;
}
.page-404 .search-404 form .input-group-btn{
	position:absolute;
	right:0;
	width:auto;
}
.cp-gallery-fluid .cp-gallery-masonry-1 .isotope .item{
	width:100%;
	margin-bottom:20px;
}
.cp-gallery-fluid{
	padding:0;
}
.cp-category .cp-box{
	margin-bottom:20px;
}
.tag-cloud a{
	margin:0 6px 10px 0;
}
.about-author .cp-author p, .cp-comments p{
	overflow:hidden;
}
.about-author .cp-author{
	margin-bottom:30px;
}
.cp-comment-form > form{
	float:left;
	width:100%;
	margin-bottom:30px;
}
.cp-pricing-table-container{
	float:left;
	width:100%;
	margin:0 0 20px 0;
}
.cp-register .holder{
	width:100%;
}
.cp-login .holder input[type="submit"]{
	margin:20px 0 0 0;
}
.cp-single-photo .cp-text-box .left-col{
	margin:20px 0 0 0;
}
.cp-price-box b{
	margin-bottom:10px;
}
.cp-image-detail{
	margin-bottom:30px;
}
.cp-tab-section .item{
	width:100%;
}
.cp-team-grid li{
	margin-bottom:50px;
	clear:both;
	overflow:hidden;
}
.cp-team-grid{
	margin:0;
}
.team-v1.tb-50, .team-v2.tb-50{
	padding:50px 0 0 0;
}
.cp-about-team .cp-team-box{
	margin-bottom:30px;
}
.team-v3.cp-about-team.tb-50 {
    padding: 50px 0 30px;
}
.team-detail{
	float:left;
	width:100%;
	margin:20px 0 0 0;
}
.cp-team-logo li{
	width:50%;
}
.cp-upload-form{
	padding:50px 0;
}
.upload-box{
	margin:0 0 30px 0;
}
.cp-navigation-row .navbar-default .navbar-nav li a{
	padding:10px 15px;
}
.cp-search-box a#searchtoggl{
	padding:0;
}
.theme-style-1 .cp-navigation-row .navbar-nav li a.upload-btn{
	display:none;
}
.app-section{
	padding:50px 0;
}
.app-section .frame{
	position:static;
	float:left;
	width:100%;
}
.app-section .frame img{
	display:block;
	width:100%;
}
.app-section .cp-text-box{
	margin:0 0 40px 0;
}
.category-section{
	padding:50px 0 10px 0;
}
.category-section .cp-box .col-md-4{
	margin:0 0 40px 0;
}
.newsletter-section .holder{
	width:100%;
}
}
/*********************************************RESPONSIVE 767 END*********************************************/



/*********************************************RESPONSIVE 480 START*********************************************/
@media (max-width: 480px) {
.login-section {
	width: 100%;
	float: left;
	padding: 20px 0;
}
.login-section ul {
	display: block;
	text-align: center;
}
.login-section ul li {
	display: inline-block;
	float: none;
}
strong.logo {
	clear: both;
	width: 100%;
}
.sidebar-menu-box {
	width: 100%;
	text-align: center;
	padding: 0;
}
.cp_side-navigation li {
	text-align: left;
}
.cp-navigation-row .yamm .yamm-content {
	padding: 20px 0;
	width: 100%;
}
#cp_side-menu form {
	padding: 0 0 15px 0;
	margin: 0;
}
strong.logo-2, .cp-top-bar {
	padding: 20px 0;
}
#cp_side-menu #content-1 {
	height: 300px;
}
#cp_side-menu {
	padding: 0 70px 0 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.cp-sidebar-social {
	display: none;
}
#cp-banner .caption .holder {
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#cp-banner .caption .holder strong.title, #cp-banner .caption .holder b {
	font-size: 25px;
}
#cp-banner .caption .holder h1 {
	font-size: 50px;
	line-height: 50px;
}
.banner-btn-box {
	width: 100%;
	text-align: center;
}
.banner-btn-box a.btn-uploading, .banner-btn-box a.btn-discover {
	float: none;
	display: inline-block;
	margin: 0 0 10px 0;
}
#cp-banner .caption {
	height: 60%;
}
.sidebar-menu-box {
	display: none;
}
.cp-navigation-row .navbar-nav {
	margin: 9px 0 0 0;
	background-color: #fff;
}
.cp-navigation-row .navbar-nav li {
	display: block;
	text-align: left;
	padding:0 10px;
}
.cp-search-box {
	background-color: #f0f0f0;
	height: 40px;
	padding: 15px 0 0 0;
	width: 100%;
}
.cp-search-outer {
	width: 100%;
	padding: 30px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.cp-search-outer strong.title {
	font-size: 16px;
	line-height: 16px;
	padding: 0 0 30px 0;
}
.navbar-header {
	padding: 8px 0 0 0;
}
.copyrights {
	float: left;
	width: 100%;
	padding: 9px 0 0 0;
}
.copyrights strong.copy {
	text-align: center;
	float: none;
	display: block;
}
.cp-inner-banner h1{
	font-size:38px;
}
.theme-style-1 h2{
	font-size:18px;
}
.aboutus-content p{
	margin:0 0 20px 0;
}
.pwrap-100{
	padding:0;
}
.cp-features-list li{
	width:100%;
	margin-bottom:20px;
}
.cp-features-list .icon::after{
	content:'';
	background:none;
}
.cp-tabs-panel .nav-tabs > li > a{
	font-size:11px;
	line-height:11px;
}
.nav > li > a{
	padding:10px 3px;
}
.nav.nav-tabs{
	display:block;
	text-align:center;
	border-bottom:1px solid #ddd;
}
.nav.nav-tabs li{
	display:inline-block;
	float:none;
	width:auto;
}
.cp-tabs-panel .tab-img, .cp-tabs-panel .tab-data{
	width:100%;
}
.cp-tabs-panel .tab-img img{
	width:100%;
	display:block;
	margin:0 0 20px 0;
}
.cp-tabs-panel .tab-data ul.checklist{
	padding-bottom:20px;
}
.cp-tabs-panel{
	float:left;
	margin:0 0 30px 0;
}
.cp-about-features{
	float:left;
	width:100%;
	padding:0 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.cp-about2-features .cp-about-features ul li p{
	overflow:hidden;
}
.cp-about-features ul{
	margin-bottom:30px;
	overflow:hidden;
}
.cp-counting .counting-bg{
	padding:50px 0;
}
.cp-counting ul li, .cp-client-logo{
	margin-bottom:20px;
}
.blog-post h3{
	font-size:16px;
}
.cp-blog-list .post-meta li{
	font-size:11px;
}
.cp-blog-list .post-meta li:after{
	padding:0 4px;
}
.cp-blog-list .blog-post iframe{
	height:170px !important;
}
.blog-post.quote-post blockquote{
	font-size:18px;
}
.quote-person{
	font-size:12px;
}
.cp-pagination .pagination > li{
	margin:0 1px;
}
.cp-pagination, .cp-pagination ul{
	margin-bottom:10px;
}
.widget.search-widget > img{
	width:100%;
}
.cp-rp li img{
	width:100%;
}
.cp-rp li{
	width:46%;
	margin-right:10px;
}
.blog-classic-view .cp-thumb{
	margin-bottom:20px;
}
.cp-blog-grid .cp-thumb{
	height:auto;
}
.cp-blog-classic .cp-thumb{
	width:100%;
	padding:0 0 20px 0;
}
.cp-blog-classic .cp-post-content{
	width:100%;
	padding:0;
}
.cp-blog-classic .quote-post .cp-thumb, .cp-blog-classic .quote-post .cp-post-content{
	width:100%;
}
.toggle-map{
	width:100%;
	padding:0 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.toggle-map .btn-primary{
	font-size:12px;
}
.contact-info{
	float:left;
	width:100%;
	margin:20px 0 0 0;
}
.cp-contact-form{
	float:left;
	margin:30px 0 0 0;
	width:100%;
}
.contact-v2-map{
	float:left;
	width:100%;
}
.cp-category{
	padding:30px 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.cp-photo-box ul{
	margin:0;
}
.cp-photo-box li{
	margin:0 0 20px 0 !important;
	width:100%;
}
.cp-photo-box .cp-box{
	width:100%;
}
.cp-load-more{
	margin:10px 0 0 0;
}
.page-404 > img{
	width:100%;
}
.page-404 strong.title{
	font-size:40px;
}
.page-404 .search-404{
	width:100%;
}
.page-404 .search-404 form{
	width:100%;
	position:relative;
}
.page-404 .search-404 form .form-control{
	width:100%;
}
.page-404 .search-404 form .input-group-btn{
	position:absolute;
	right:0;
	width:auto;
}
.cp-gallery-fluid .cp-gallery-masonry-1 .isotope .item{
	width:100%;
	margin-bottom:20px;
}
.cp-gallery-fluid{
	padding:0;
}
.cp-category .cp-box{
	margin-bottom:20px;
}
.cp-post-details blockquote:before{
	left:-66px;
}
.cp-post-details .tag-cloud strong{
	display:block;
	padding:0 0 10px 0;
}
.cp-post-details .share-post .share-btn:before{
	left:-44px;
	width:44px;
}
.cp-post-details .share-post .share-btn::after{
	right:-44px;
	width:44px;
}
.about-author .cp-author{
	margin-bottom:30px;
}
.cp-comments p{
	overflow:hidden;
}
.cp-comments li .cp-comments{
	margin-left:50px;
}
.cp-comment-form > form{
	float:left;
	width:100%;
	margin:0 0 30px 0;
}
.table-body ul li{
	font-size:12px;
}
.cp-pricing-table-container{
	float:left;
	width:100%;
	margin:0 0 20px 0;
}
.cp-register .holder{
	width:100%;
}
.cp-login .holder input[type="submit"]{
	margin:20px 0 0 0;
}
.cp-single-photo{
	padding:50px 0;
}
.cp-single-photo .cp-text-box .left-col{
	margin:20px 0 0 0;
}
.cp-price-box b{
	font-size:12px;
	padding:10px 0;
}
.cp-price-box{
	padding:0 0 130px 0;
}
.cp-price-box a.add-cart{
	margin-bottom:10px;
}
.cp-image-detail{
	margin-bottom:20px;
}
.cp-tab-section .item{
	width:100%;
}
.cp-team-grid li{
	margin-bottom:50px;
	clear:both;
	overflow:hidden;
}
.cp-team-grid{
	margin:0;
}
.team-v1.tb-50, .team-v2.tb-50{
	padding:50px 0 0 0;
}
.cp-about-team .cp-team-box{
	margin-bottom:30px;
}
.team-v3.cp-about-team.tb-50 {
    padding: 50px 0 30px;
}
.team-detail{
	float:left;
	width:100%;
	margin:20px 0 0 0;
}
.cp-team-logo li{
	width:100%;
}
.upload-box{
	padding:74px 30px;
	margin-bottom:30px;
}
.fill-box-head strong.title, .fill-box-head strong.dpi{
	font-size:12px;
	line-height:12px;
	padding:0 20px 0 0;
	width:auto;
}
.fill-box-head strong.price{
	float:right;
	font-size:12px;
	line-height:12px;
}
.cp-check-box{
	width:100%;
	margin:0 0 10px 0;
}
.cp-fill-box .input-2{
	float:left;
	margin:10px 0 0 0;
	width:100%;
}
.cp-select-fields button{
	float:left;
}
.cp-upload-form{
	padding:50px 0;
}
.cp-navigation-row .navbar-default .navbar-nav li a{
	padding:10px 15px;
}
.cp-search-box a#searchtoggl{
	padding:0;
}
.cp-search-box a span{
	padding:3px 0 0 10px;
}
.theme-style-1 .cp-navigation-row .navbar-nav li a.upload-btn{
	display:none;
}
.app-section .frame{
	display:none;
}
.app-section .cp-text-box{
	width:100%;
	margin: 0;
}
.app-section{
	padding:40px 0;
}
.category-section{
	padding:50px 0 10px 0;
}
.category-section .cp-box h2{
	font-size:22px;
}
.category-section .cp-box .col-md-4{
	margin:0 0 40px 0;
}
.newsletter-section .holder{
	width:100%;
}
.newsletter-section .holder form input[type="submit"]{
	padding:0 10px;
}
.newsletter-section .holder form input[type="text"]{
	padding:0 95px 0 20px;
}
.newsletter-section .holder h2{
	font-size:24px;
}
}
/*********************************************RESPONSIVE 480 END*********************************************/

/*********************************************RESPONSIVE 768 AND 980 START*********************************************/
@media (min-width: 768px) and (max-width: 980px) {
.cp-navigation-row .dropdown-menu {
	width: 100%;
}
.cp-navigation-row .yamm .yamm-content {
	width: 100%;
	padding: 15px 0;
}
.cp-navigation-row .dropdown-menu.classic-menu {
	width: auto;
}
#cp-banner .caption .holder {
	width: 100%;
}
#cp-banner .caption .holder h1 {
	font-size: 60px;
}
.cp-search-outer {
	width: 100%;
}
.cp-search-outer strong.title {
	font-size: 44px;
	padding: 0 0 40px 0;
}
.aboutus-content p{
	margin:0 0 20px 0;
}
.pwrap-100{
	padding:0;
}
.cp-tabs-panel{
	float:left;
	margin:0 0 30px 0;
}
.cp-about-features{
	float:left;
	width:100%;
	padding:0 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.cp-about-features ul{
	margin:0 0 30px 0;
	overflow:hidden;
}
.cp-counting .counting-bg{
	margin:0;
	padding:40px 0;
}
.cp-counting ul li, .cp-client-logo{
	margin-bottom:30px;
}
.cp-pagination, .cp-pagination ul{
	margin-bottom:10px;
}
.cp-rp li{
	width:auto;
	margin-right:10px;
}
.blog-classic-view .cp-thumb{
	margin-bottom:20px;
}
.cp-blog-list .blog-post img{
	height:auto;
}
.blog-post h3{
	font-size:18px;
}
.cp-blog-list .post-meta li{
	font-size:11px;
}
.cp-blog-list.cp-blog-classic .post-meta li::after{
	padding:0 4px;
}
.contact-info{
	float:left;
	margin:20px 0 0 0;
	width:100%;
}
.cp-contact-form{
	float:left;
	margin:30px 0 0 0;
	width:100%;
}
.contact-v2-map{
	float:left;
	width:100%;
}
.cp-photo-box .cp-box{
	width:100%;
}
.cp-photo-box ul{
	margin:0;
	display:block;
	text-align:center;
}
.cp-photo-box ul li{
	float:none;
	display:inline-block;
	margin:0 12px 20px 12px;
	width:46%;
}
.cp-category{
	padding:50px 0;
}
.cp-gallery-fluid .cp-gallery-masonry-1 .isotope .item{
	width:50%;
	margin-bottom:20px;
}
.cp-gallery-fluid{
	padding:0 10px;
}
.cp-category .cp-box{
	margin-bottom:20px;
}
.about-author .cp-author p{
	overflow:hidden;
}
.cp-comment-form > form{
	float:left;
	width:100%;
	margin-bottom:30px;
}
.cp-pricing-table-container{
	float:left;
	width:100%;
	margin:0 0 20px 0;
}
.cp-register .holder{
	width:100%;
}
.cp-login .holder input[type="submit"]{
	margin:20px 0 0 0;
}
.cp-single-photo .cp-text-box .left-col{
	margin:20px 0 0 0;
}
.cp-tab-section .item{
	width:100%;
}
.cp-image-detail, .cp-about-team .cp-team-box{
	margin-bottom:30px;
}
.cp-team-grid li{
	margin-bottom:80px;
}
.team-v1.tb-50, .team-v2.tb-50{
	padding:50px 0 0 0;
}
.team-v3.cp-about-team.tb-50{
	padding:50px 0 30px 0;
}
.team-detail{
	float:left;
	width:100%;
	margin:20px 0 0 0;
}
.upload-box{
	margin:0 0 30px 0;
}
.theme-style-1 .cp-navigation-row .navbar-nav li a.upload-btn{
	display:none;
}
.app-section{
	padding:50px 0;
}
.app-section .frame{
	position:static;
	float:right;
	width:100%;
}
.app-section .frame img{
	display:block;
	width:100%;
}
.app-section .cp-text-box{
	margin:0 0 50px 0;
}
.category-section{
	padding:50px 0 10px 0;
}
.category-section .cp-box .col-md-4{
	margin:0 0 40px 0;
}
.newsletter-section .holder{
	width:100%;
}
}
/*********************************************RESPONSIVE 768 AND 979 END*********************************************/

/*********************************************RESPONSIVE 1200 START*********************************************/
@media (min-width: 1200px) {
.cp-search-outer {
	width: 1140px;
}
.cp-navigation-row .yamm .yamm-content {
	width: 1130px;
}
#cp_side-menu form {
	margin: 0 0 20px 0;
}
.cp-top-bar {
	padding: 30px 0 20px 0;
}
strong.logo-2 {
	padding: 30px 0;
}
#cp_side-menu #content-1 {
	height: 434px;
}
.cp-about2-features.pwrap-100{
	padding:0 100px;
}
.cp-about2-features .features-bg {
	padding:50px 0;
}
.cp-counting .counting-bg {
	margin:50px 0 0 0;
}
.tab-widget .nav-tabs > li > a {
	font:500 14px/47px'Roboto', sans-serif;
}
.widget.search-widget > img{
	width:auto;
}
.cp-rp li {
	width: 50%;
	margin-right:0;
}
.cp-rp li img{
	width:auto;
}
.cp-contact-form{
	margin:0;
}
.cp-category {
	padding:50px 55px;
}
.cp-photo-box ul {
	float:left;
	margin: 0 0 0 -20px;
}
.cp-photo-box li {
	margin: 0 0 20px 20px;
	float: left;
}
.cp-photo-box .cp-box {
	width: 342px;
}
.cp-gallery-fluid .cp-gallery-masonry-1 .isotope .item {
	width: 16.5%;
}
.cp-price-box b{
	margin:0;
}
.cp-price-box {
	padding: 0 0 30px 0;
}
.cp-price-box a.add-cart {
	margin: 0 3px;
}
.cp-image-detail {
	padding: 20px 30px;
}
.cp-image-detail ul li span{
	padding:0;
}
.cp-team-logo li {
	width: 25%;
}
.cp-check-box{
	width:165px;
}
}
/*********************************************RESPONSIVE 1200 END*********************************************/

@media (max-width: 1400px) {
body .cp-price-box a.add-cart {padding:16px 35px;}
}
/*********************************************RESPONSIVE 1280 START*********************************************/
@media (max-width: 1280px) {
	.cp-photo-box ul{
		float:none;
		margin:0;
	}
	.cp-photo-box li{
		float:none;
		margin:0 10px 10px 10px;
	}
	.theme-style-1 .cp-navigation-row .navbar-nav li a.upload-btn{
		display:none;
	}
}
/*********************************************RESPONSIVE End START*********************************************/

/*********************************************RESPONSIVE 1367 AND 1900 START*********************************************/
@media (min-width: 1366px) and (max-width: 1900px) {
	.cp-photo-box ul{
		float:none;
		margin:0;
	}
	.cp-photo-box li{
		float:none;
		margin:0 10px 10px 10px;
	}
}
/*********************************************RESPONSIVE 1367 AND 1900 END*********************************************/
